{% extends 'AppBundle:Admin:base.html.twig' %}
{% trans_default_domain 'admin' %}
{% block body_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'admin.raci.list.title'|trans }}<small>{{ 'admin.raci.list.subtitle'|trans }}</small></h2>
                    <a href="{{ path('app_admin_raci_create') }}">
                        <button class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
                    </a>
                </div>
                <div class="card-body m-t-0">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{ 'admin.raci.list.table.id'|trans }}</th>
                                    <th>{{ 'admin.raci.list.table.workpackage'|trans }}</th>
                                    <th>{{ 'admin.raci.list.table.user'|trans }}</th>
                                    <th>{{ 'admin.raci.list.table.actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ra in raci %}
                                    <tr>
                                        <td class="f-500 c-cyan">{{ ra.id }}</td>
                                        <td>{{ ra.workpackage.name|default('-') }}</td>
                                        <td>{{ ra.user.username|default('-') }}</td>
                                        <td>
                                            {% include '@App/Admin/Layout/Partials/form_list_buttons.html.twig'
                                                with {
                                                    'show_path': 'app_admin_raci_show',
                                                    'edit_path': 'app_admin_raci_edit',
                                                    'delete_path': 'app_admin_raci_delete',
                                                    'id': ra.id,
                                                }
                                            %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="f-500 c-cyan">{{ 'admin.raci.list.no-raci'|trans }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="recent-items-chart" class="flot-chart"></div>
            </div>
        </div>
    </div>
{% endblock %}
