{% extends 'AppBundle:Admin:base.html.twig' %}
{% trans_default_domain 'admin' %}
{% block body_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2>{{ 'admin.raci.list.title'|trans }}<small>{{ 'admin.raci.list.subtitle'|trans }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_raci_create') }}">{{ 'admin.raci.list.add'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-body m-t-0">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{ 'admin.raci.list.table.id'|trans }}</th>
                                    <th>{{ 'admin.raci.list.table.workpackage'|trans }}</th>
                                    <th>{{ 'admin.raci.list.table.user'|trans }}</th>
                                    <th>{{ 'admin.raci.list.table.actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ra in raci %}
                                    <tr>
                                        <td class="f-500 c-cyan">{{ ra.id }}</td>
                                        <td>{{ ra.workpackage.name }}</td>
                                        <td>{{ ra.user.username }}</td>
                                        <td>
                                            <a href="{{ path('app_admin_raci_edit', {'id': ra.id}) }}">
                                                <button class="btn btn-primary btn-sm">{{ 'admin.raci.list.edit'|trans }}</button>
                                            </a>
                                            <a href="{{ path('app_admin_raci_delete', {'id': ra.id}) }}">
                                                <button class="btn btn-danger btn-sm">{{ 'admin.raci.list.delete'|trans }}</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="f-500 c-cyan">{{ 'admin.raci.list.no-raci'|trans }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="recent-items-chart" class="flot-chart"></div>
            </div>
        </div>
    </div>
{% endblock %}
