{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'admin.communication.list.title'|trans }}<small>{{ communication.meetingName }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_communication_create') }}">{{ 'admin.communication.list.add'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_communication_edit', {'id': communication.id}) }}">{{ 'admin.general.form.button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_communication_list') }}">{{ 'admin.general.form.button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>{{ 'admin.communication.list.table.id'|trans }}</th>
                                <td>{{ communication.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.communication.list.table.project'|trans }}</th>
                                <td>{{ communication.project.name|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.communication.list.table.meeting_name'|trans }}</th>
                                <td>{{ communication.meetingName }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.communication.list.table.content'|trans }}</th>
                                <td>{{ communication.content }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.communication.list.table.schedule'|trans }}</th>
                                <td>{{ communication.schedule.name|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.communication.list.table.location'|trans }}</th>
                                <td>{{ communication.location }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.communication.list.table.participants'|trans }}</th>
                                <td>
                                   {% for user in communication.participants %}
                                        <p>@{{ user.username }} - {{ user.fullName }}</p>
                                   {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.communication.list.table.created_at'|trans }}</th>
                                <td>{{ communication.createdAt|date('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.communication.list.table.updated_at'|trans }}</th>
                                <td>{{ communication.updatedAt|date('d/m/Y') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
