{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% form_theme form 'AppBundle:Admin/Layout/Partials:form_fields.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'admin.project_user.edit.title'|trans }}</h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_project_user_create') }}">{{ 'admin.project_user.list.add'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_project_user_list') }}">{{ 'admin.general.form.button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body card-padding">
                    {{ form_start(
                        form,
                        {
                            'method': 'POST',
                            'action': path('app_admin_project_user_edit', {'id': project_user.id}),
                            'attr': {
                                'class': 'form-horizontal',
                                'novalidate': 'novalidate',
                            },
                        }
                    ) }}
                        {% if form.vars.valid == false %}
                            <div class="alert alert-danger">
                                {% for field in form.children %}
                                    {{ form_errors(field) }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form_widget(
                            form.user,
                            {
                                'attr': {'class': 'form-control input-sm'},
                                'label': 'admin.project_user.create.user'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.project,
                            {
                                'attr': {'class': 'form-control input-sm'},
                                'label': 'admin.project_user.create.project'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.projectCategory,
                            {
                                'attr': {'class': 'form-control input-sm'},
                                'label': 'admin.project_user.create.project_category'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.projectRole,
                            {
                                'attr': {'class': 'form-control input-sm'},
                                'label': 'admin.project_user.create.project_role'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.projectDepartment,
                            {
                                'attr': {'class': 'form-control input-sm'},
                                'label': 'admin.project_user.create.project_department'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.projectTeam,
                            {
                                'attr': {'class': 'form-control input-sm'},
                                'label': 'admin.project_user.create.project_team'|trans,
                            }
                        ) }}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                {{ form_widget(
                                    form.showInResources,
                                    {
                                        'attr': {'class': 'form-control'},
                                        'label': 'admin.project_user.create.show_in_resources'|trans,
                                    }
                                ) }}
                                {{ form_widget(
                                    form.showInRaci,
                                    {
                                        'attr': {'class': 'form-control'},
                                        'label': 'admin.project_user.create.show_in_raci'|trans,
                                    }
                                ) }}
                                {{ form_widget(
                                    form.showInOrg,
                                    {
                                        'attr': {'class': 'form-control'},
                                        'label': 'admin.project_user.create.show_in_org'|trans,
                                    }
                                ) }}
                            </div>
                        </div>

                        {% include '@App/Admin/Layout/Partials/form_edit_buttons.html.twig'
                            with {
                                'delete_path': 'app_admin_project_user_delete',
                                'id': project_user.id,
                            }
                        %}

                        <span class="hidden">{{ form_row(form._token) }}</span>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
