<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}Campr Admin{% endblock %}</title>
        {% block stylesheets %}
            <!-- Vendor CSS -->
            <link href="{{ asset('assets/admin/vendors/bower_components/animate.css/animate.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/sweetalert/dist/sweetalert.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/nouislider/distribute/nouislider.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/farbtastic/farbtastic.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/chosen/chosen.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/summernote/dist/summernote.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css') }}" rel="stylesheet">
            <!-- CSS -->
            <link href="{{ asset('assets/admin/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css')}}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/bootstrap-3/dist/css/bootstrap.min.css')}}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bootgrid/jquery.bootgrid.min.css') }}" rel="stylesheet">

            <link href="{{ asset('assets/admin/css/app.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/assets/css/admin.css') }}" rel="stylesheet">
        {% endblock %}
        {% block icon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}

        {{ piwik_tracking() }}
    </head>
    <body>
    {% block body %}
        {% include 'AppBundle:Admin/Layout:header.html.twig' %}

        <section id="main">
            {{ knp_menu_render('admin_app', {'template': 'AppBundle:Admin/Layout:sidebar.html.twig'}) }}

            <section id="content">
                    <div class="container">
                        {% block body_content %}{% endblock %}
                    </div>
            </section>
        </section>

        {% include 'AppBundle:Admin/Layout:footer.html.twig' %}
    {% endblock %}

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="preloader pls-blue">
            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20" />
            </svg>

            <p>Please wait...</p>
        </div>
    </div>

    {% include 'AppBundle:Admin/Layout:older_ie_version.html.twig' %}

    {% block javascripts %}
        <!-- Javascript Libraries -->
        <script src="{{ asset('assets/admin/vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/js/jquery-migrate-3.0.0.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('assets/admin/vendors/bower_components/bootstrap-3/dist/js/bootstrap.min.js') }}"></script>

        <script src="{{ asset('assets/admin/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bower_components/moment/min/moment.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bower_components/nouislider/distribute/nouislider.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/summernote/dist/summernote-updated.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bower_components/Waves/dist/waves.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bootstrap-growl/bootstrap-growl.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bower_components/sweetalert/dist/sweetalert.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bootgrid/jquery.bootgrid.updated.min.js') }}"></script>

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="{{ asset('assets/admin/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js') }}"></script>
        <![endif]-->

        <script src="{{ asset('assets/admin/vendors/fileinput/fileinput.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/input-mask/input-mask.min.js') }}"></script>
        <script src="{{ asset('assets/admin/js/app.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/js/sidebar_menu_search.js') }}"></script>
        <script type="text/javascript">
            var currentUserId = "{{ app.user.id }}"
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
            $('.date-picker').datetimepicker({
                format: 'DD-MM-YYYY'
            });
            $('.datetime-picker').datetimepicker({
                format: 'DD-MM-YYYY HH:mm:SS'
            });
        </script>
    {% endblock %}
    </body>
</html>
