<!doctype html>
<html>
<head>
    <title>{{ 'label.status_report'|trans }} - {{ statusReport.project.name }} : {{ statusReport.createdAt|date('d-m-Y') }}</title>
    <style type="text/css">
        body {
            background-color: #232D4B;
            font-family: 'Poppins', sans-serif;
            color: #D8DAE5;
            padding: 0px;
            margin:0px;
            min-height: 1407px;
        }
        .text-center {
            text-align: center;
        }

        .hero-text {
            font-size: 3em;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: 30px;
        }

        h1 {
            font-weight: 300;
            letter-spacing: 2.2px;
            text-transform: uppercase;
            font-size: 20px;
        }
        tr {
            vertical-align: top;
        }

        .alternate-color:nth-of-type(even) {
            background-color: #1E2643;
        }

        dt {
            padding: 15px 5px;
        }
        ul, dl {
            margin: 0 5px;
        }
        .double-line {
            display: block;
            -webkit-margin-before: 0.5em;
            -webkit-margin-after: 0.5em;
            -webkit-margin-start: auto;
            -webkit-margin-end: auto;
            border-top: 4px double;
            border-color: #111526;
            margin: 40px 0;
            box-sizing: content-box;
            height: 0px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th colspan="2" ><h1 class="text-center">{{ statusReport.project.name }} : {{ statusReport.createdAt|date('d-m-Y') }}</h1></th>
    </tr>
    <tr>
        <th colspan="2" ><span class="hero-text">{{ 'message.status_report'|trans }}</span></th>
    </tr>
    <tr>
        <td colspan="2"><br></td>
    </tr>
    <tr>
        <th width="40%">{{ 'table_header_cell.week'|trans }}</th>
        <td>{{ statusReport.information.week }}</td>
    </tr>
    <tr>
        <th>{{ 'table_header_cell.status'|trans }}</th>
        <td>
            {% if statusReport.information.project.overallStatus == 2 %}<span style="background: #5FC3A5">{{ 'choices.green'|trans }}</span>{% endif %}
            {% if statusReport.information.project.overallStatus == 1 %}<span style="background: #ccba54">{{ 'choices.yellow'|trans }}</span>{% endif %}
            {% if statusReport.information.project.overallStatus == 0 %}<span style="background: #c87369">{{ 'choices.red'|trans }}</span>{% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'message.action_needed'|trans }}</th>
        <td>
            {% if statusReport.information.actionNeeded  %}
                {{ 'message.yes'|trans }}
            {% else %}
                {{ 'message.no'|trans }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{{ 'message.comment'|trans }}</th>
        <td>{{ statusReport.information.comment|default('-')|raw  }}</td>
    </tr>
    <tr>
        <th>{{ 'label.open'|trans }}</th>
        <td>{{ statusReport.information.projectTasksStatus['label.open']|default('-')|raw }}</td>
    </tr>
    <tr>
        <th>{{ 'label.closed'|trans }}</th>
        <td>{{ statusReport.information.projectTasksStatus['label.closed']|default('-')|raw  }}</td>
    </tr>
    <tr>
        <th>{{ 'label.top_risk'|trans }}</th>
        <td>{{ statusReport.information.risksOpportunitiesStats.risks.top_risk.title|default('-')|raw  }}</td>
    </tr>
    <tr>
        <th>{{ 'label.top_opportunity'|trans }}</th>
        <td>{{ statusReport.information.risksOpportunitiesStats.opportunities.top_opportunity.title|default('-')|raw  }}</td>
    </tr>
    <tr>
        <td></td>
        <td> <hr class="double-line"> </td>
    </tr>
    <tr>
        <th>{{ 'message.todos'|trans }}:</th>
        <td>
            <dl>
                {% for todo in statusReport.information.todos.items %}
                    <dt class="alternate-color">{{ todo.title|raw }}</dt>
                {% endfor %}
            </dl>
        </td>
    </tr>
    <tr>
        <td></td>
        <td> <hr class="double-line"> </td>
    </tr>
    <tr>
        <th>{{ 'message.decisions'|trans }}:</th>
        <td>
            <dl>
                {% for decision in statusReport.information.decisions.items %}
                    <dt class="alternate-color">{{ decision.title|raw }}</dt>
                {% endfor %}
            </dl>
        </td>
    </tr>
</table>
</body>
</html>
