{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% form_theme form 'AppBundle:Admin/Layout/Partials:form_fields.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'admin.media.edit.title'|trans }}</h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_project_media_list', {'project': project_id}) }}">{{ 'admin.general.form.button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% if form.vars.valid == false %}
                    <div class="alert alert-danger">
                        {% for field in form.children %}
                            {{ form_errors(field) }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="card-body card-padding">
                    {{ form_start(
                        form,
                        {
                            'method': 'POST',
                            'action': path('app_admin_project_media_edit', {'project': project_id, 'id': media.id }),
                            'attr': {
                                'id': 'edit-form',
                                'class': 'form-horizontal',
                                'novalidate': 'novalidate',
                            },
                    }
                    ) }}
                    {{ form_widget(
                        form.fileSystem,
                        {
                            'attr': {'class': 'selectpicker'},
                            'label': 'admin.media.upload.filesystem'|trans,
                        }
                    ) }}
                    {{ form_widget(
                        form.file,
                        {
                            'label': 'admin.media.upload.file'|trans,
                        }
                    ) }}

                    <div class="form-group m-t-15">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button class="btn btn-sm bgm-blue" type="submit">
                                <i class="zmdi zmdi-floppy"></i>
                                {{ 'admin.general.form.button.save_changes'|trans }}
                            </button>
                            <a class="btn btn-sm bgm-red" href="{{ path('app_admin_project_media_delete', {'project': project_id, 'id': media.id}) }}">
                                <i class="zmdi zmdi-delete"></i>
                                {{ 'admin.general.form.button.delete'|trans }}
                            </a>
                        </div>
                    </div>

                    <span class="hidden">{{ form_row(form._token) }}</span>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
