{% extends 'AppBundle:Admin:base.html.twig' %}
{% trans_default_domain 'admin' %}
{% block body_content %}
    {{ form_start(
        form,
        {
            'method': 'POST',
            'action': path('app_admin_status_edit', {'id': id}),
            'attr': {
                'class': 'form-horizontal',
                'novalidate': 'novalidate',
            },
        }
    ) }}
    {% if form.vars.valid == false %}
        <div class="alert alert-danger">
            {% for field in form.children %}
                {{ form_errors(field) }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2>{{ 'admin.status.edit.title'|trans }}</h2>
                </div>
                <div class="card-body m-t-0 card-padding">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">{{ 'admin.status.create.name'|trans }}:</label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                {{ form_widget(form.name, {'attr': {'id': 'name', 'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div align="center" class="form-group">
                        <button class="btn btn-primary btn-sm" type="submit">{{ 'admin.status.list.edit'|trans }}</button>
                        <a class="btn btn-danger btn-sm" href="{{ path('app_admin_status_delete', {'id': id}) }}">
                            {{ 'admin.status.list.delete'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
