{% trans_default_domain 'messages' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    <div class="container">
        <section class="section first-section">
            <div class="row">
                <div class="col-lg-6 ml-lg-auto mr-lg-auto">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-auto">
                            <h3 class="page-header">
                                {{ 'title.workspace.create'|trans }}
                            </h3>
                        </div>
                        <div class="col-md-auto">
                            <a href="{{ path('main_team_list') }}" class="small-link">< {{ 'button.back_to_list'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-lg-6 ml-lg-auto mr-lg-auto">
                    {{ form_start(
                        form,
                        {
                            'method': 'POST',
                            'action': path('main_team_create'),
                            'attr': {
                                'id': 'create-team',
                                'class': 'form',
                                'novalidate': 'novalidate',
                            },
                        }
                    ) }}
                    {% if form.vars.valid == false %}
                        <div class="alert alert-danger">
                            {% for field in form.children %}
                                {{ form_errors(field) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="control-group form-group {% if form_errors(form.name) %}has-error{% endif %}">
                        <div class="input-holder">
                            {{ form_widget(form.name, {'attr': {'class': 'input-field'}}) }}
                            <label class="label">{{ 'label.name'|trans }}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-holder">
                            <label class="custom-label">{{ 'label.logo'|trans }}</label>
                            {{ form_widget(form.logoFile) }}
                        </div>
                    </div>
                    <div class="control-group form-group {% if form_errors(form.description) %}has-error{% endif %}">
                        <div class="input-holder input-filled">
                            {{ form_widget(form.description, {'attr': {'class': 'input-field'}}) }}
                            <label class="label">{{ 'label.description'|trans }}</label>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="checkbox-input clearfix">
                            {{ form_widget(form.enabled) }}
                            <label class="label" for="{{ form.enabled.vars.id }}">{{ 'label.enabled'|trans }}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="button" type="submit">{{ 'button.save'|trans }}</button>
                    </div>
                    {{ form_end(form, {'render_rest': true}) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
