{% trans_default_domain 'messages' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    <div class="container">
        <section class="section first-section">            
            <div class="row">                
                <div class="col">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-md-auto">
                    <h3 class="page-header">{{ 'title.workspace.list'|trans }}</h3>
                </div>
                <div class="col-md-auto text-right">
                    <a href="{{ path('main_team_create') }}" class="button button-small">{{ 'title.workspace.create'|trans }} +</a>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-lg-12">
                    <div class="table-wrapper table-responsive">
                        <table class="custom-table">
                            <thead>
                                <th class="cell-auto">{{ 'table_header_cell.id'|trans }}</th>
                                <th class="avatar text-center">{{ 'table_header_cell.logo'|trans }}</th>
                                <th>{{ 'table_header_cell.name'|trans }}</th>
                                <th>{{ 'table_header_cell.slug'|trans }}</th>
                                <th>{{ 'table_header_cell.members'|trans }}</th>
                                <th>{{ 'table_header_cell.enabled'|trans }}</th>
                                <th>{{ 'placeholder.actions'|trans }}</th>
                            </thead>
                            <tbody>
                                {% for team in teams %}
                                    <tr>
                                        <td>{{ team.id }}</td>
                                        <td class="avatar text-center">
                                            <div class="user-avatar-wrapper">
                                                {% if team.logo %}
                                                    <img src="{{ vich_uploader_asset(team, 'logoFile') }}" alt="{{ team.name }}">
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>{{ team }}</td>
                                        <td>{{ team.slug }}</td>
                                        <td>{{ team.teamMembers.count }}</td>
                                        <td>{{ team.enabled ? ('message.yes'|trans) : ('message.no'|trans) }}</td>
                                        <td>
                                            <!-- {% if team.enabled and team.available %}                                                
                                                <a href="{{ path('main_team_sso', {'id': team.id}) }}" class="button button-small">
                                                    {{ 'button.login'|trans }}
                                                </a>    
                                            {% endif %} -->
                                            <a href="{{ path('main_team_sso', {'id': team.id}) }}" class="button button-small">
                                                {{ 'button.login'|trans }}
                                            </a> 
                                            <a href="{{ path('main_team_show', {'id': team.id}) }}" class="btn-icon" data-toggle="tooltip" title="Show Team">
                                                <div class="view-icon icon">
                                                    <svg version="1.1" class="second-fill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16">
                                                        <path d="M15.5,0h-15C0.2,0,0,0.2,0,0.5v15C0,15.8,0.2,16,0.5,16h9.8c0.1,0,0.1,0,0.2,0c0.1,0,0.1-0.1,0.2-0.1l5.2-5.2 c0,0,0.1-0.1,0.1-0.2c0-0.1,0-0.1,0-0.2V0.5C16,0.2,15.8,0,15.5,0z M10.8,14.3v-3.5h3.5L10.8,14.3z M15,9.8h-4.7 c-0.3,0-0.5,0.2-0.5,0.5V15H1V1h14V9.8z"/>
                                                        <path d="M3.4,7.2c0.1,0,0.3,0,0.4-0.1l0.7-0.7c0.2-0.2,0.4-0.2,0.6,0c0.5,0.5,1.5,0.5,2,0c0.2-0.2,0.4-0.2,0.6,0 c0.5,0.5,1.5,0.5,2,0c0.2-0.2,0.4-0.2,0.6,0c0.5,0.5,1.5,0.5,2,0l0.7-0.7c0.2-0.2,0.2-0.5,0-0.7c-0.2-0.2-0.5-0.2-0.7,0l-0.7,0.7 c-0.2,0.2-0.4,0.2-0.6,0c-0.6-0.6-1.5-0.6-2,0c-0.2,0.2-0.4,0.2-0.6,0c-0.5-0.5-1.5-0.5-2,0c-0.2,0.2-0.4,0.2-0.6,0 c-0.6-0.6-1.5-0.6-2,0L3.1,6.3C2.9,6.5,2.9,6.9,3.1,7C3.2,7.1,3.3,7.2,3.4,7.2z"/>
                                                        <path d="M3.4,10.5c0.1,0,0.3,0,0.4-0.1l0.7-0.7c0.2-0.2,0.4-0.2,0.6,0c0.5,0.5,1.5,0.5,2,0C7.2,9.5,7.2,9.1,7,9S6.5,8.8,6.3,9 C6.2,9.1,5.9,9.1,5.7,9c-0.6-0.6-1.5-0.6-2,0L3.1,9.6c-0.2,0.2-0.2,0.5,0,0.7C3.2,10.4,3.3,10.5,3.4,10.5z"/>
                                                    </svg>
                                                </div>
                                            </a>
                                            {% if team in app.user.teams %}
                                                <a href="{{ path('main_team_edit', {'id': team.id}) }}" class="btn-icon" data-toggle="tooltip" title="Edit Team">
                                                    <div class="edit-icon icon">
                                                        <svg version="1.1" class="second-fill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16">
                                                            <path d="M15.5,1.9l-1.4-1.4c-0.7-0.7-1.9-0.7-2.6,0L11,1c0,0,0,0,0,0s0,0,0,0l-0.9,0.9c0,0,0,0,0,0s0,0,0,0l-8.8,8.8c0,0,0,0,0,0 s0,0,0,0l-0.2,0.2C1.1,10.9,1,11,1,11.1l-1,4.3c0,0.2,0,0.3,0.1,0.5C0.2,15.9,0.4,16,0.5,16c0,0,0.1,0,0.1,0l4.3-1 c0.1,0,0.2-0.1,0.2-0.1l0.2-0.2c0,0,0,0,0,0s0,0,0,0L14,5.9c0,0,0,0,0,0c0,0,0,0,0,0L15,5c0,0,0,0,0,0s0,0,0,0l0.5-0.5 C16.2,3.8,16.2,2.6,15.5,1.9z M13.4,1.2l1.4,1.4c0.3,0.3,0.3,0.8,0,1.2l-0.1,0.1l-2.6-2.6l0.1-0.1C12.5,0.9,13,0.9,13.4,1.2z M13.7,4.9l-2.6-2.6l0.2-0.2l2.6,2.6L13.7,4.9z M4.9,13.6L2.4,11L10.4,3L13,5.6L4.9,13.6z M1.8,11.9l2.2,2.2l-2.9,0.7L1.8,11.9z"/>
                                                        </svg>
                                                    </div>
                                                </a>
                                                <a href="{{ path('main_team_sso', {'id': team.id, 'redirect_to': '/admin'}) }}" class="btn-icon" data-toggle="tooltip" title="Super Admin">
                                                    <div class="super-admin-icon icon">
                                                        <svg version="1.1" class="second-fill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16">
                                                            <g>
                                                                <path class="st0" d="M1.8,16c-0.5,0-0.9-0.2-1.3-0.5C0.2,15.1,0,14.7,0,14.2c0-0.5,0.2-0.9,0.5-1.3l6.3-6.2C6,4.9,6.4,2.8,7.8,1.4 c1.5-1.5,3.8-1.8,5.6-0.9c0.1,0.1,0.2,0.2,0.3,0.4c0,0.2,0,0.3-0.1,0.4l-2,2v1.2h1.1l2-2c0.1-0.1,0.3-0.2,0.4-0.1 c0.2,0,0.3,0.1,0.4,0.3c1,1.9,0.6,4.1-0.9,5.6l0,0c-1.4,1.4-3.5,1.8-5.2,1l-6.2,6.2C2.8,15.8,2.3,16,1.8,16z M11.3,1 c-1,0-2,0.4-2.7,1.1C7.4,3.3,7.1,5.1,7.8,6.5C7.9,6.7,7.9,7,7.7,7.1l-6.5,6.5C1.1,13.8,1,14,1,14.2c0,0.2,0.1,0.4,0.2,0.6 c0.3,0.3,0.8,0.3,1.2,0l6.5-6.5C9,8.1,9.3,8.1,9.5,8.2c1.5,0.8,3.2,0.5,4.4-0.7c1-1,1.3-2.4,1-3.8l-1.7,1.7 c-0.1,0.1-0.2,0.1-0.4,0.1h-1.8c-0.3,0-0.5-0.2-0.5-0.5V3.2c0-0.1,0.1-0.3,0.1-0.3l1.6-1.7C12,1.1,11.6,1,11.3,1z"></path>
                                                            </g>
                                                        </svg>
                                                    </div>
                                                </a>
                                                <form action="{{ path('main_team_delete', {'id': team.id}) }}" method="post" style="display: inline">
                                                    <button type="submit" class="btn-icon" data-toggle="tooltip" title="Delete Team" onclick="return confirm('Are you sure?');">
                                                        <div class="delete-icon icon">
                                                            <svg version="1.1" class="danger-fill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16">
                                                                <path d="M15.2,2h-2.3h-2.1V0.5c0-0.3-0.2-0.5-0.5-0.5H5.1C4.8,0,4.6,0.2,4.6,0.5V2H2.5H0.8C0.5,2,0.3,2.2,0.3,2.5S0.5,3,0.8,3H2 v12.5C2,15.8,2.2,16,2.5,16h10.4c0.3,0,0.5-0.2,0.5-0.5V3h1.8c0.3,0,0.5-0.2,0.5-0.5S15.5,2,15.2,2z M5.6,1h4.2v1H5.6V1z M12.4,15H3 V3h2.1h5.2h2.1V15z"/>
                                                                <path d="M5.1,4.2c-0.3,0-0.5,0.2-0.5,0.5v7.8c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5V4.7C5.6,4.5,5.3,4.2,5.1,4.2z"/>
                                                                <path d="M7.7,4.2c-0.3,0-0.5,0.2-0.5,0.5v7.8c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5V4.7C8.2,4.5,8,4.2,7.7,4.2z"/>
                                                                <path d="M9.8,4.7v7.8c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5V4.7c0-0.3-0.2-0.5-0.5-0.5S9.8,4.5,9.8,4.7z"/>
                                                            </svg>
                                                        </div>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
