{% trans_default_domain 'messages' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    <section class="section first-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div id="general-alert" class="alert alert-success m-t-15">
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div id="general-alert" class="alert alert-warning m-t-15">
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 ml-lg-auto mr-lg-auto">
                    <ul class="thumb-list">
                        <li>
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-auto">
                                    {% if team.logo %}
                                        <div class="team-img" style="background-image: url('{{ vich_uploader_asset(team, 'logoFile') }}')"></div>
                                    {% endif %}
                                    <div class="team-info">
                                        <div class="team-name">{{ team.name }}</div>
                                    </div>
                                </div>
                                <div class="col-md-auto text-right">
                                    <a href="{{ path('main_team_list') }}" class="small-link">< {{ 'button.back_to_list'|trans }}</a>
                                </div>
                            </div> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-lg-6 ml-lg-auto mr-lg-auto">
                    <ul class="custom-list">
                        <li>
                            {{ 'table_header_cell.id'|trans }}: <strong>{{ team.id }}</strong>
                        </li>
                        <li>
                            {{ 'table_header_cell.name'|trans }}: <strong>{{ team.name }}</strong>
                        </li>
                        <li>
                            {{ 'table_header_cell.slug'|trans }}: <strong>{{ team.slug }}</strong>
                        </li>
                        <li>
                            {{ 'table_header_cell.enabled'|trans }}: 
                            {% if team.enabled %}
                                <strong><span class="success-color">{{ 'message.yes'|trans }}</span></strong>
                            {% else %}
                                <strong><span class="danger-color">{{ 'message.no'|trans }}</span></strong>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-lg-10 ml-lg-auto mr-lg-auto">
                    <div class="table-wrapper table-responsive">
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>
                                        {{ 'table_header_cell.members'|trans }}
                                    </th>
                                    {% if "ROLE_SUPER_ADMIN" in current_team_member.roles %}
                                        <th>
                                            {{ 'table_header_cell.role'|trans }}
                                        </th>
                                        <th class="text-right">
                                            {{ 'table_header_cell.actions'|trans }}
                                        </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {%  if team.teamMembers %}
                                    {% for teamMember in team.teamMembers if teamMember.user %}
                                        <tr>                                        
                                            <td>
                                                {{ teamMember.user.username }}
                                            </td>
                                            {% if "ROLE_SUPER_ADMIN" in current_team_member.roles %}
                                            <td>
                                                {% if teamMember.roles|length %}
                                                    {% for role in teamMember.roles %}
                                                        {{ role|trans }}
                                                        {% if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    {{ 'message.user_blocked'|trans }}
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                {% if teamMember.user != app.user and teamMember.user != team.user %}
                                                    <a
                                                        href="{{ path('main_team_edit_team_member', {'team': team.id, 'teamMember': teamMember.id}) }}"
                                                        data-toggle="tooltip"
                                                        class="button button-small button-danger"
                                                        title="Remove team member"
                                                    >
                                                        Edit
                                                    </a>
                                                    <a href="{{ path('main_team_remove_team_member', {'team': team.id, 'id': teamMember.id}) }}" data-toggle="tooltip" class="button button-small button-danger" title="Remove team member">
                                                        Remove
                                                    </a>
                                                {% endif %}
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>
                                            {{ '-' }}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    {% if (current_team_member and team.user == current_team_member.user) or team.user == app.user %}
                        <a href="{{ path('main_team_invite_user', {'id': team.id}) }}" class="button mt-30">
                            {{ 'button.invite_user'|trans }} +
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
