{% trans_default_domain 'messages' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    <section class="section first-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div id="general-alert" class="alert alert-success m-t-15">
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div id="general-alert" class="alert alert-warning m-t-15">
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 ml-lg-auto mr-lg-auto">
                    <ul class="thumb-list">
                        <li>
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-auto">
                                    {% if team.logo %}
                                        <div class="team-img" style="background-image: url('{{ vich_uploader_asset(team, 'logoFile') }}')"></div>
                                    {% endif %}
                                    <div class="team-info">
                                        <div class="team-name">{{ team.name }}</div>
                                    </div>
                                </div>
                                <div class="col-md-auto text-right">
                                    <a href="{{ path('main_team_list') }}" class="small-link">< {{ 'button.back_to_list'|trans }}</a>
                                </div>
                            </div> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-lg-6 ml-lg-auto mr-lg-auto">
                    <ul class="custom-list">
                        <li>
                            {{ 'table_header_cell.id'|trans }}: <strong>{{ team.id }}</strong>
                        </li>
                        <li>
                            {{ 'table_header_cell.name'|trans }}: <strong>{{ team.name }}</strong>
                        </li>
                        <li>
                            {{ 'table_header_cell.slug'|trans }}: <strong>{{ team.slug }}</strong>
                        </li>
                        <li>
                            {{ 'table_header_cell.enabled'|trans }}: 
                            {% if team.enabled %}
                                <strong><span class="success-color">{{ 'message.yes'|trans }}</span></strong>
                            {% else %}
                                <strong><span class="danger-color">{{ 'message.no'|trans }}</span></strong>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-lg-10 ml-lg-auto mr-lg-auto">
                    {% if (current_team_member and team.user == current_team_member.user) or team.user == app.user %}
                        <a href="{{ path('main_team_invite_user', {'id': team.id}) }}" class="button button-small mb-30">
                            {{ 'button.invite_user'|trans }} +
                        </a>
                    {% endif %}
                    <div class="table-wrapper table-responsive">
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>
                                        {{ 'table_header_cell.members'|trans }}
                                    </th>
                                    {% if (current_team_member and "ROLE_SUPER_ADMIN" in current_team_member.roles) or team.user == app.user %}
                                        <th>
                                            {{ 'table_header_cell.role'|trans }}
                                        </th>
                                        <th class="text-right">
                                            {{ 'table_header_cell.actions'|trans }}
                                        </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {%  if team.teamMembers %}
                                    {% for teamMember in team.teamMembers if teamMember.user %}
                                        <tr>                                        
                                            <td>
                                                {{ teamMember.user.username }}
                                            </td>
                                            {% if (current_team_member and "ROLE_SUPER_ADMIN" in current_team_member.roles) or team.user == app.user %}
                                            <td>
                                                {% if teamMember.roles|length %}
                                                    {% for role in teamMember.roles %}
                                                        {{ role|trans }}
                                                        {% if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    {{ 'message.user_blocked'|trans }}
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                {% if teamMember.user != app.user and teamMember.user != team.user %}
                                                    <a href="{{ path('main_team_edit_team_member', {'team': team.id, 'teamMember': teamMember.id}) }}" class="btn-icon" data-toggle="tooltip" title="Edit team member">
                                                        <div class="edit-icon icon">
                                                            <svg version="1.1" class="second-fill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16">
                                                                <path d="M15.5,1.9l-1.4-1.4c-0.7-0.7-1.9-0.7-2.6,0L11,1c0,0,0,0,0,0s0,0,0,0l-0.9,0.9c0,0,0,0,0,0s0,0,0,0l-8.8,8.8c0,0,0,0,0,0 s0,0,0,0l-0.2,0.2C1.1,10.9,1,11,1,11.1l-1,4.3c0,0.2,0,0.3,0.1,0.5C0.2,15.9,0.4,16,0.5,16c0,0,0.1,0,0.1,0l4.3-1 c0.1,0,0.2-0.1,0.2-0.1l0.2-0.2c0,0,0,0,0,0s0,0,0,0L14,5.9c0,0,0,0,0,0c0,0,0,0,0,0L15,5c0,0,0,0,0,0s0,0,0,0l0.5-0.5 C16.2,3.8,16.2,2.6,15.5,1.9z M13.4,1.2l1.4,1.4c0.3,0.3,0.3,0.8,0,1.2l-0.1,0.1l-2.6-2.6l0.1-0.1C12.5,0.9,13,0.9,13.4,1.2z M13.7,4.9l-2.6-2.6l0.2-0.2l2.6,2.6L13.7,4.9z M4.9,13.6L2.4,11L10.4,3L13,5.6L4.9,13.6z M1.8,11.9l2.2,2.2l-2.9,0.7L1.8,11.9z"/>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                    <a href="{{ path('main_team_remove_team_member', {'team': team.id, 'id': teamMember.id}) }}" class="btn-icon" data-toggle="tooltip" title="Remove team member">
                                                        <div class="edit-icon icon">
                                                            <svg version="1.1" class="danger-fill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16">
                                                                <path d="M15.2,2h-2.3h-2.1V0.5c0-0.3-0.2-0.5-0.5-0.5H5.1C4.8,0,4.6,0.2,4.6,0.5V2H2.5H0.8C0.5,2,0.3,2.2,0.3,2.5S0.5,3,0.8,3H2 v12.5C2,15.8,2.2,16,2.5,16h10.4c0.3,0,0.5-0.2,0.5-0.5V3h1.8c0.3,0,0.5-0.2,0.5-0.5S15.5,2,15.2,2z M5.6,1h4.2v1H5.6V1z M12.4,15H3 V3h2.1h5.2h2.1V15z"/>
                                                                <path d="M5.1,4.2c-0.3,0-0.5,0.2-0.5,0.5v7.8c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5V4.7C5.6,4.5,5.3,4.2,5.1,4.2z"/>
                                                                <path d="M7.7,4.2c-0.3,0-0.5,0.2-0.5,0.5v7.8c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5V4.7C8.2,4.5,8,4.2,7.7,4.2z"/>
                                                                <path d="M9.8,4.7v7.8c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5V4.7c0-0.3-0.2-0.5-0.5-0.5S9.8,4.5,9.8,4.7z"/>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                {% endif %}
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>
                                            {{ '-' }}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    {% if (current_team_member and team.user == current_team_member.user) or team.user == app.user %}
                        <a href="{{ path('main_team_invite_user', {'id': team.id}) }}" class="button button-small mt-30">
                            {{ 'button.invite_user'|trans }} +
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
