{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.opportunity.list'|trans }}<small>{{ 'subtitle.opportunity'|trans }}</small></h2>
                    <a href="{{ path('app_admin_opportunity_create') }}">
                        <button class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
                    </a>
                </div>
                <div class="card-body">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div id="general-alert" class="alert alert-success m-t-15">
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}
                    <div id="delete-item-alert" class="alert alert-success m-t-15 hidden">
                        <strong>
                            {{ 'success.opportunity.delete.from_data_table'|trans({}, 'flashes') }}
                            <span id="object-id">
                                {% for flash_message in app.session.flashBag.get('success') %}
                                    {{ flash_message }}
                                {% endfor %}
                            </span>
                            {{ 'success.delete_common'|trans({}, 'flashes') }}
                        </strong>
                    </div>
                    <div class="table-responsive">
                        <table
                                id="data-table-command"
                                class="table table-condensed table-striped table-vmiddle"
                                data-url="{{ path('app_admin_opportunity_list_filtered') }}"
                                data-show="app_admin_opportunity_show"
                                data-edit="app_admin_opportunity_edit"
                                data-delete="app_admin_opportunity_delete">
                            <thead>
                            <tr>
                                <th data-column-id="id" data-identifier="true" data-type="numeric">{{ 'table_header_cell.id'|trans }}</th>
                                <th data-column-id="title">{{ 'table_header_cell.title'|trans }}</th>
                                <th data-column-id="opportunityStrategyName" data-formatter="translate">{{ 'table_header_cell.strategy'|trans }}</th>
                                <th data-column-id="opportunityStatusName" data-formatter="translate">{{ 'table_header_cell.status'|trans }}</th>
                                <th data-column-id="responsibilityFullName">{{ 'table_header_cell.responsible'|trans }}</th>
                                <th data-column-id="dueDate">{{ 'table_header_cell.due_date'|trans }}</th>
                                <th data-column-id="commands" data-formatter="commands" data-sortable="false">{{ 'placeholder.actions'|trans }}</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Data Table -->
    <script src="{{ asset('bundles/app/assets/js/data_table.js') }}"></script>
    <script src="{{ asset('bundles/app/assets/js/alert_messages.js') }}"></script>
{% endblock %}
