{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.opportunity.list'|trans }}<small>{{ opportunity.title }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_opportunity_create') }}">{{ 'add.opportunity'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_opportunity_edit', {'id': opportunity.id}) }}">{{ 'button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_opportunity_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body m-t-10 card-padding">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>{{ 'table_header_cell.id'|trans }}</th>
                                <td>{{ opportunity.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.title'|trans }}</th>
                                <td>{{ opportunity.title }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.project'|trans }}</th>
                                <td>{{ opportunity.project.name|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.description'|trans }}</th>
                                <td>{{ opportunity.description|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.impact'|trans }}</th>
                                <td>{{ opportunity.impact|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.probability'|trans }}</th>
                                <td>{{ opportunity.probability|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.cost_savings'|trans }}</th>
                                <td>{{ opportunity.costSavings|app_format_money(opportunity|app_currency_code) }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.budget'|trans }}</th>
                                <td>{{ opportunity.budget|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.time_savings'|trans }}</th>
                                <td>{{ opportunity.timeSavings|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.priority'|trans }}</th>
                                <td>{{ opportunity.priority|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.strategy'|trans }}</th>
                                <td>{{ opportunity.opportunityStrategy.name|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.category'|trans }}</th>
                                <td>{{ opportunity.opportunityStatus.name|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.measure'|trans }}</th>
                                {% if opportunity.measures is not empty %}
                                    <td>
                                        {% for measure in opportunity.measures %}
                                            <p>{{ measure.title }} - {{  measure.cost }}</p>
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.responsible'|trans }}</th>
                                <td>{{ opportunity.responsibility.fullName|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.due_date'|trans }}</th>
                                <td>{{ opportunity.dueDate|date('d-m-Y') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
