{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% form_theme form 'AppBundle:Admin/Layout/Partials:form_fields.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'admin.meeting_participant.create.title'|trans }}</h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_meeting_participant_list') }}">{{ 'admin.general.form.button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body card-padding">
                    {{ form_start(
                        form,
                        {
                            'method': 'POST',
                            'action': path('app_admin_meeting_participant_create'),
                            'attr': {
                                'id': 'create-form',
                                'class': 'form-horizontal',
                                'novalidate': 'novalidate',
                            },
                        }
                    ) }}
                    {% if form.vars.valid == false %}
                        <div class="alert alert-danger">
                            {% for field in form.children %}
                                {{ form_errors(field) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ form_widget(
                        form.meeting,
                        {
                            'attr': {
                                'class': 'selectpicker',
                            },
                        'label': 'admin.meeting_participant.create.meeting'|trans,
                        }
                    ) }}
                    {{ form_widget(
                        form.user,
                        {
                            'attr': {
                                'class': 'selectpicker',
                            },
                            'label': 'admin.meeting_participant.create.user'|trans,
                        }
                    ) }}

                    {{ form_widget(
                        form.remark,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'admin.meeting_participant.create.remark'|trans,
                        }
                    ) }}
                    {{ form_widget(
                        form.isPresent,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                                'toggle': true
                            },
                            'label': 'admin.meeting_participant.create.is_present'|trans,
                    }
                    ) }}
                    {{ form_widget(
                        form.isExcused,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                                'toggle': true
                            },
                            'label': 'admin.meeting_participant.create.is_excused'|trans,
                    }
                    ) }}
                    {{ form_widget(
                        form.inDistributionList,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                                'toggle': true
                            },
                            'label': 'admin.meeting_participant.create.in_distribution_list'|trans,
                    }
                    ) }}

                    {% include '@App/Admin/Layout/Partials/form_create_button.html.twig' %}

                    <span class="hidden">{{ form_row(form._token) }}</span>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
