{% trans_default_domain 'messages' %}

{% extends 'MainBundle:Admin:base.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <p class="text-primary">
                    {{ 'title.user.create'|trans }}
                    <a href="{{ path('main_admin_user_list') }}" class="btn btn-sm btn-primary pull-right">{{ 'button.back_to_list'|trans }}</span></a>
                </p>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ form_start(
                form,
                {
                    'method': 'POST',
                    'action': path('main_admin_user_create'),
                    'attr': {
                        'id': 'create-user',
                        'novalidate': 'novalidate',
                    },
                }
            ) }}
            {% if form.vars.valid == false %}
                <div class="alert alert-danger">
                    {% for field in form.children %}
                        {{ form_errors(field) }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="control-group form-group {% if form_errors(form.username) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'label.username'|trans }}</label>
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="control-group form-group {% if form_errors(form.email) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'label.email'|trans }}</label>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="control-group form-group {% if form_errors(form.plainPassword.first) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'label.password.first'|trans }}</label>
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="control-group form-group {% if form_errors(form.plainPassword.second) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'label.password.repeat'|trans }}</label>
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="control-group form-group {% if form_errors(form.firstName) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'label.first_name'|trans }}</label>
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="control-group form-group {% if form_errors(form.lastName) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'label.last_name'|trans }}</label>
                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="control-group form-group {% if form_errors(form.phone) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'label.phone'|trans }}</label>
                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="control-group form-group">
                {% for roleChild in form.roles.children %}
                    <label class="radio-inline">
                        {{ form_widget(
                            roleChild,
                            {
                                'attr': {
                                    'class': 'form-control',
                                    },
                            }
                        ) }}
                        {{ roleChild.vars.label|trans }}
                    </label>
                {% endfor %}
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">{{ 'button.create'|trans }}</button>
            </div>
            {{ form_end(form, {'render_rest': true}) }}
        </div>
    </div>
{% endblock %}
