{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.subteam_member.list'|trans }}<small>{{ subteamMember.username }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_subteam_member_create') }}">{{ 'add.subteam'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_subteam_member_edit', {'id': subteamMember.id}) }}">{{ 'button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_subteam_member_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>{{ 'table_header_cell.name'|trans }}</th>
                                <td>{{ subteamMember.userName }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.email'|trans }}</th>
                                <td>{{ subteamMember.userEmail }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.subteam'|trans }}</th>
                                <td>{{ subteamMember.subteam }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.lead'|trans }}</th>
                                <td>{{ subteamMember.isLead ? 'message.yes'|trans : 'message.no'|trans }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.subteam_roles'|trans }}</th>
                                <td>
                                    <ul>
                                        {% for subteamRole in subteamMember.subteamRoles %}
                                            <li>{{ subteamRole.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
