{% trans_default_domain 'messages' %}

{% extends 'MainBundle:Admin:base.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-6 ml-lg-auto mr-lg-auto">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-auto">
                    <h3 class="page-header">
                        <span class="note">{{ 'title.workspace_member.edit'|trans }}:</span> 
                        {{ team_member.user.fullName }}
                    </h3>
                </div>
                <div class="col-md-auto">
                    <a href="{{ path('main_admin_team_member_list', {'team': team.id}) }}" class="small-link">< {{ 'button.back_to_list'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-30">
        <div class="col-lg-6 ml-lg-auto mr-lg-auto">
            {{ form_start(
                form,
                {
                    'method': 'POST',
                    'action': path('main_admin_team_member_edit', {'team': team.id, 'id': team_member.id}),
                    'attr': {
                        'id': 'edit-team-member',
                        'class': 'form',
                        'novalidate': 'novalidate',
                    },
                }
            ) }}
            {% if form.vars.valid == false %}
                <div class="alert alert-danger">
                    {% for field in form.children %}
                        {{ form_errors(field) }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="control-group form-group {% if form_errors(form.user) %}has-error{% endif %}">
                <div class="input-holder input-filled">
                    {{ form_widget(form.user, {'attr': {'class': 'input-field'}}) }}
                    <label class="label">{{ 'label.user'|trans }}</label>
                </div>
            </div>
            <div class="control-group form-group {% if form_errors(form.team) %}has-error{% endif %}">
                <div class="input-holder input-filled">
                    {{ form_widget(form.team, {'attr': {'class': 'input-field'}}) }}
                    <label class="label">{{ 'label.team'|trans }}</label>
                </div>
            </div>
            <div class="control-group form-group control-group-inline">
                {% set i = 0 %}
                {% for roleChild in form.roles.children %}          
                    <div class="checkbox-input clearfix">
                        {{ form_widget( roleChild ) }}
                        <label class="label" for="edit_roles_{{ i }}">{{ roleChild.vars.label|trans }}</label>
                    </div>
                {% set i = i + 1 %}
                {% endfor %}
            </div>
            <div class="form-group">
                <button class="button" type="submit">{{ 'button.save'|trans }}</button>
            </div>
            {{ form_end(form, {'render_rest': true}) }}
        </div>
    </div>
{% endblock %}
