{% extends 'AppBundle:Admin:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/admin/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body_content %}
    <div class="container"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/admin/vendors/bower_components/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/flot.curvedlines/curvedLines.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/sparklines/jquery.sparkline.min.js') }}"></script>

    <script src="{{ asset('assets/admin/vendors/bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js') }}"></script>
{% endblock %}
