{% extends 'AppBundle:Admin:base.html.twig' %}
{% trans_default_domain 'admin' %}
{% block body_content %}
    {{ form_start(
        form,
        {
            'method': 'POST',
            'action': path('app_admin_schedule_create'),
            'attr': {
                'novalidate': 'novalidate',
            },
        }
    ) }}
    {% if form.vars.valid == false %}
        <div class="alert alert-danger">
            {% for field in form.children %}
                {{ form_errors(field) }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="form-group">
        <label for="name">{{ 'admin.schedule.create.name'|trans }}:</label>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <button class="btn btn-default" type="submit">{{ 'admin.schedule.create.create'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
