{% trans_default_domain 'messages' %}

<footer id="footer">
    {{ 'copyright'|trans }}

    <ul class="f-menu">
        <li><a href="">{{ 'link.home'|trans }}</a></li>
        <li><a href="">{{ 'link.dashboad'|trans }}</a></li>
        <li><a href="">{{ 'link.reports'|trans }}</a></li>
        <li><a href="">{{ 'link.support'|trans }}</a></li>
        <li><a href="">{{ 'link.contact'|trans }}</a></li>
    </ul>
</footer>
