{% trans_default_domain 'messages' %}

<footer id="footer">
    {% set year = 'now'|date('Y') %}
    {{ 'copyright'|trans({'%year%': year})|raw }}

    <ul class="f-menu">
        <li><a href="{{ path('app_homepage') }}">{{ 'link.home'|trans }}</a></li>
        <li><a href="{{ path('app_admin_dashboard') }}">{{ 'link.dashboad'|trans }}</a></li>
        <li><a href="{{ path('main_contact') }}">{{ 'link.contact'|trans }}</a></li>
    </ul>
</footer>
