{% trans_default_domain 'messages' %}

<header id="header" class="clearfix p-t-20" data-ma-theme="teal">
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="bgm-orange c-white text-center" style="width: 100%;position: absolute;left: 0;right: 0;top:0;">
            <p>{{ 'message.impersonate'|trans }} "{{ app.user.username }}". {{ 'message.click'|trans }}  <a href="{{ path('app_homepage', {'_switch_user': '_exit'}) }}">{{ 'message.here'|trans }} </a> {{ 'message.return'|trans }} </p>
        </div>
    {% endif %}
    <ul class="h-inner">
        <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="hi-logo hidden-xs">
            <a href="index.html">{{ 'title.header'|trans }}</a>
        </li>
    </ul>
</header>
