{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.decision.list'|trans }}<small>{{ decision.title|default('-') }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_decision_create') }}">{{ 'add.decision'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_decision_edit', {'id': decision.id}) }}">{{ 'button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_decision_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>{{ 'table_header_cell.id'|trans }}</th>
                                    <td>{{ decision.id }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.title'|trans }}</th>
                                    <td>{{ decision.title|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.description'|trans }}</th>
                                    <td>{{ decision.description|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.date'|trans }}</th>
                                    <td>{{ decision.createdAt|date('d/m/Y')|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.due_date'|trans }}</th>
                                    <td>{{ decision.dueDate|date('d/m/Y')|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.project'|trans }}</th>
                                    <td>{{ decision.project.name|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.meeting'|trans }}</th>
                                    <td>{{ decision.meeting.name|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.responsibility'|trans }}</th>
                                    <td>{{ decision.responsibility.username|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.show_in_status_report'|trans }}</th>
                                    <td>
                                        {% if decision.showInStatusReport %}
                                            {{ 'message.yes'|trans }}
                                        {% else %}
                                            {{ 'message.no'|trans }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.created_at'|trans }}</th>
                                    <td>{{ decision.createdAt|date('d/m/Y')|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.updated_at'|trans }}</th>
                                    <td>{{ decision.updatedAt|date('d/m/Y')|default('-') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
