{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% form_theme form 'AppBundle:Admin/Layout/Partials:form_fields.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'admin.wppcwct.create.title'|trans }}</h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_wppcwct_list') }}">{{ 'admin.general.form.button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body m-t-0 card-padding">
                    {{ form_start(
                        form,
                        {
                            'method': 'POST',
                            'action': path('app_admin_wppcwct_create'),
                            'attr': {
                                'class': 'form-horizontal',
                                'novalidate': 'novalidate',
                            },
                        }
                    ) }}
                    {% if form.vars.valid == false %}
                        <div class="alert alert-danger">
                            {% for field in form.children %}
                                {{ form_errors(field) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ form_widget(
                        form.name,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'admin.wppcwct.create.name'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.workPackage,
                        {
                            'attr': {
                                'class': 'selectpicker',
                            },
                            'label': 'admin.wppcwct.create.workpackage'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.projectWorkCostType,
                        {
                            'attr': {
                                'class': 'selectpicker',
                            },
                            'label': 'admin.wppcwct.create.projectworkcosttype'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.base,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'admin.wppcwct.create.base'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.change,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'admin.wppcwct.create.change'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.actual,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'admin.wppcwct.create.actual'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.remaining,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'admin.wppcwct.create.remaining'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.forecast,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'admin.wppcwct.create.forecast'|trans
                        }
                    ) }}

                    {% include '@App/Admin/Layout/Partials/form_create_button.html.twig' %}

                    <span class="hidden">{{ form_row(form._token) }}</span>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
