{% extends 'MainBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <p class="text-primary">{{ 'title.payment.list'|trans }}</p>
            </h1>
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed table-responsive">
                <thead>
                <th>{{ 'table_header_cell.id'|trans }}</th>
                <th>{{ 'table_header_cell.payment_method'|trans }}</th>
                <th>{{ 'table_header_cell.team'|trans }}</th>
                <th>{{ 'table_header_cell.created_at'|trans }}</th>
                <th>{{ 'placeholder.actions'|trans }}</th>
                </thead>
                <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.paymentMethod.name }}</td>
                        <td>{{ payment.team.name }}</td>
                        <td>{{ payment.createdAt|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('main_admin_payment_refund', {'id': payment.id}) }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
