{% extends 'AppBundle:Admin:base.html.twig' %}
{% trans_default_domain 'admin' %}
{% block body_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'admin.workpackage.list.title'|trans }}<small>{{ 'admin.workpackage.list.subtitle'|trans }}</small></h2>
                    <a href="{{ path('app_admin_workpackage_create') }}">
                        <button class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
                    </a>
                </div>
                <div class="card-body m-t-0">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{ 'admin.workpackage.list.table.id'|trans }}</th>
                                    <th>{{ 'admin.workpackage.list.table.puid'|trans }}</th>
                                    <th>{{ 'admin.workpackage.list.table.name'|trans }}</th>
                                    <th>{{ 'admin.workpackage.list.table.responsible'|trans }}</th>
                                    <th>{{ 'admin.workpackage.list.table.schedule_start'|trans }}</th>
                                    <th>{{ 'admin.workpackage.list.table.schedule_finish'|trans }}</th>
                                    <th>{{ 'admin.workpackage.list.table.actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for workPackage in workPackages %}
                                    <tr>
                                        <td class="f-500 c-cyan">{{ workPackage.id }}</td>
                                        <td>{{ workPackage.puid }}</td>
                                        <td>{{ workPackage.name }}</td>
                                        <td>{{ workPackage.responsibility.username }}</td>
                                        <td>{{ workPackage.scheduledStartAt|date('d/m/Y') }}</td>
                                        <td>{{ workPackage.scheduledFinishAt|date('d/m/Y') }}</td>
                                        <td>
                                            {% include '@App/Admin/Layout/Partials/form_list_buttons.html.twig'
                                                with {
                                                    'show_path': 'app_admin_workpackage_show',
                                                    'edit_path': 'app_admin_workpackage_edit',
                                                    'delete_path': 'app_admin_workpackage_delete',
                                                    'id': workPackage.id,
                                                }
                                            %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4" class="f-500 c-cyan">{{ 'admin.workpackage.list.no-workpackages'|trans }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="recent-items-chart" class="flot-chart"></div>
            </div>
        </div>
    </div>
{% endblock %}
