{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.workpackage.list'|trans }}<small>{{ workPackage.name }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_workpackage_create') }}">{{ 'add.workpackage'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_workpackage_edit', {'id': workPackage.id}) }}">{{ 'button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_workpackage_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body m-t-10 card-padding">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>{{ 'table_header_cell.puid'|trans }}</th>
                                    <td>{{ workPackage.puid }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.name'|trans }}</th>
                                    <td>{{ workPackage.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.project'|trans }}</th>
                                    <td>{{ workPackage.project.name|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.parent'|trans }}</th>
                                    <td>{{ workPackage.parent.name|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.color_status'|trans }}</th>
                                    <td>{{ workPackage.colorStatus.name|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.responsible'|trans }}</th>
                                    <td>{{ workPackage.responsibility.username|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.progress'|trans }}</th>
                                    <td>{{ workPackage.progress|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.schedule_start'|trans }}</th>
                                    <td>{{ workPackage.scheduledStartAt is empty ? '-' : workPackage.scheduledStartAt|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.schedule_finish'|trans }}</th>
                                    <td>{{ workPackage.scheduledFinishAt is empty ? '-' : workPackage.scheduledFinishAt|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.forecast_start'|trans }}</th>
                                    <td>{{ workPackage.forecastStartAt is empty ? '-' : workPackage.forecastStartAt|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.forecast_finish'|trans }}</th>
                                    <td>{{  workPackage.forecastFinishAt is empty ? '-' : workPackage.forecastFinishAt|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.actual_start'|trans }}</th>
                                    <td>{{ workPackage.actualFinishAt is empty ? '-' : workPackage.actualStartAt|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.actual_finish'|trans }}</th>
                                    <td>{{ workPackage.actualFinishAt is empty ? '- ' : workPackage.actualFinishAt|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.content'|trans }}</th>
                                    <td>{{ workPackage.content|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.results'|trans }}</th>
                                    <td>{{ workPackage.results|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.is_key_milestone'|trans }}</th>
                                    <td>
                                        {% if workPackage.isKeyMilestone %}
                                            <span class="c-green">{{ 'message.yes'|trans }}</span>
                                        {% else %}
                                            <span class="c-red">{{ 'message.no'|trans }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.created_at'|trans }}</th>
                                    <td>{{ workPackage.createdAt|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.updated_at'|trans }}</th>
                                    <td>{{ workPackage.updatedAt is empty ? '-' : workPackage.updatedAt|date('d/m/Y') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
