{% trans_default_domain 'messages' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    <!-- Cart Landing Section Start -->
    <section class="cart-header">
        <div class="full-width">
            <div class="custom-placeholder dark-overlay">
                <img class="tiny" media="(min-width: 0px)"
                     srcset="{{ asset('assets/admin/img/cart/Checkout-Campr-tiny.jpg') }}"
                     alt="CAMPR Cart"
                     style="position:absolute;width:100%;height:100%;top:0;left:0;">
                <picture>
                    <!--[if IE 9]>
                    <video style="display: none;"><![endif]-->
                    <source srcset="{{ asset('assets/admin/img/cart/Checkout-Campr-Trailer-User-Based.jpg') }}"
                            media="(min-width: 0px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img class="lazy lazyload"
                         src="{{ asset('assets/admin/img/cart/Checkout-Campr-Trailer-User-Based.jpg') }}"
                         data-lazy-src="{{ asset('assets/admin/img/cart/Checkout-Campr-Trailer-User-Based.jpg') }}"
                         alt="CAMPR Trailer - User Based">
                </picture>
            </div>

            <div class="table">
                <div class="cell">
                    <h1 class="text-center">
                        Your CArt
                    </h1>
                    <div class="scroll-dow">
                        <a href="#product" class="simple-link scroll-down-button">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20">
                                <g>
                                    <polyline fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="0.5,4.6 10,15.4 19.5,4.6"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Landing Section End -->

    <!-- Cart Content Section Start -->
    <section class="section product" id="product">
        <div class="container-fluid">
            <div class="row">                
                <div class="col-12">
                    <div class="price-table-wrapper">
                        <div class="back-link-wrapper">
                            <a href="{{ path('main_register') }}" class="simple-link caps">Back to Sign Up</a>
                            <div class="col-sm d-block d-sm-none">
                                <span class="note warning-color">scroll table to see the rest</span>
                            </div>
                        </div>
                    </div>
                    <form action="#" class="form">
                        <div class="table-wrapper price-table-wrapper">
                            <table class="table price-table" cellspacing="3">
                                <thead>
                                    <tr>
                                        <th class="cell-gray">
                                            <b class="caps">Product</b>
                                        </th>
                                        <th class="cell-gray">
                                            <b class="caps">Payment Plan</b>
                                        </th>
                                        <th class="cell-gray">
                                            <b class="caps">Users</b>
                                        </th>
                                        <th class="cell-gray">
                                            <b class="caps">Subtotal</b>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="cell-yellow">
                                            <span class="license-type">CAMPR Trailer</span> 
                                            <span class="user-number">30 - 60 <span class="users">Users</span></span>
                                        </td>
                                        <td class="cell-gray-dark">
                                            <b class="caps">User Based <span class="note warning-color"><span class="currency">€</span> 12.50 / user / month</span></b>
                                        </td>
                                        <td class="cell-gray-dark">
                                            <div class="input-with-increment">
                                                <input type="button" value="-" class="button-increment increment-minus" field="users" />
                                                <input type="text" class="default-input" name="users" value="30" data-min="30" data-max="60" step="1" min="30" max="60"/>
                                                <input type="button" value="+" class="button-increment increment-plus" field="users" />
                                            </div>
                                        </td>
                                        <td class="cell-gray-dark">
                                            <b class="caps"><span class="currency">€</span> 562,5 <span class="note warning-color">/ month *</span></b>                     
                                        </td>
                                    </tr>                                
                                </tbody>
                            </table> 
                        </div>
                        <div class="table-wrapper price-table-wrapper">                     
                            <p><span class="small warning-color">* price excl. VAT. Will be calculated based on your billing info.</span></p>
                            <div class="clearfix">
                                <div class="float-right">
                                    <button class="button" type="submit">Go to checkout</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Content Section End -->

    <section id="contact"></section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/admin/js/lazyload.min.js') }}"></script>
    <script src="{{ asset('assets/admin/js/cart-script.js') }}"></script>
{% endblock %}