{% trans_default_domain 'messages' %}

{% extends 'MainBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
{% endblock stylesheets %}

{% block body_content %}
    <div class="container-fluid">
        <section class="section first-section">
            <div class="row">
                {% if teams|length %}
                <div class="col-xl-6">
                    <div class="team-list-wrapper">
                        <h3 class="page-header">{{ 'message.your_workspaces'|trans }}</h3>
                        <ul class="thumb-list">
                            {% for team in teams %}
                            <li>
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-md-auto">
                                        {% if team.logo %}
                                            {% set teamStyle = 'background-image: url(\'' ~ vich_uploader_asset(team, 'logoFile') ~ '\')' %}
                                        {% else %}
                                            {% set teamStyle = 'background: #123456;' %}
                                        {% endif %}
                                        <a href="{{ path('main_team_sso', {id: team.id}) }}" class="team-img" style="{{ teamStyle }}"></a>
                                        <div class="team-info">
                                            <div class="team-name">{{ team }}</div>
                                            <div class="team-details">
                                                {% if team.teamMembers.count > "1" %}
                                                    {{ team.teamMembers.count }} {{ 'message.members'|trans }}
                                                {% else %}
                                                    {{ team.teamMembers.count }} {{ 'message.member'|trans }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-auto text-right">
                                        <a href="{{ path('main_team_sso', {id: team.id}) }}" class="button button-small{{ not team.enabled or not team.available ? ' hide' }}"{{ team.enabled and not team.available ? ' data-check-team-availability=true data-team-id=' ~ team.id }}>
                                            {{ 'button.login'|trans }}
                                        </a>
                                        {% if not team.enabled or not team.available %}
                                            <img src="{{ asset('assets/admin/img/spinner.gif') }}" class="spinner">
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if app.user.teamMembers.count %}
                <div class="col-xl-6">
                    <div class="team-list-wrapper">
                        <h3 class="page-header">{{ 'message.workspaces'|trans }}</h3>
                        <ul class="thumb-list">
                            {% for teamMember in app.user.teamMembers %}
                            <li>
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-md-auto">
                                        {% if teamMember.team and teamMember.team.logo %}
                                            {% set teamStyle = 'background-image: url(\'' ~ vich_uploader_asset(teamMember.team, 'logoFile') ~ '\')' %}
                                        {% else %}
                                            {% set teamStyle = 'background: #123456;' %}
                                        {% endif %}
                                        <a href="{{ path('main_team_sso', {id: teamMember.team.id}) }}" class="team-img" style="{{ teamStyle }}"></a>
                                        <div class="team-info">
                                            <div class="team-name">
                                                {{ teamMember.team }}                                                    
                                            </div>
                                            <div class="team-details">
                                                <span>{{ 'message.roles'|trans }}:</span>
                                                {% for role in teamMember.roles %}
                                                    {{ role|trans }}{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="team-details">
                                                {% if teamMember.team.teamMembers.count > "1" %}
                                                    {{ teamMember.team.teamMembers.count }} {{ 'message.members'|trans }}
                                                {% else %}
                                                    {{ teamMember.team.teamMembers.count }} {{ 'message.member'|trans }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-auto text-right">
                                        <a href="{{ path('main_team_sso', {id: teamMember.team.id}) }}" class="button button-small{{ not teamMember.team.enabled or not teamMember.team.available ? ' hide' }}"{{ teamMember.team.enabled and not teamMember.team.available ? ' data-check-team-availability=true data-team-id=' ~ teamMember.team.id }}>
                                            {{ 'button.login'|trans }}
                                        </a>
                                        {% if not teamMember.team.enabled or not teamMember.team.available %}
                                            <img src="{{ asset('assets/admin/img/spinner.gif') }}" class="spinner">
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}


                {% if teams|length == 0 and app.user.teamMembers.count == 0 %}
                <div class="col-xl-12" style="text-align: center;">
                    <p>Looks like you are new here, why don't you go ahead and <a href="{{ path('main_team_create') }}">create a new team</a>?</p>
                </div>
                {% endif %}
                <div class="col-lg-1"></div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/admin/js/lazyload.min.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/vivus/dist/vivus.min.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/plax/js/plax.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/matchHeight/dist/jquery.matchHeight-min.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js') }}"></script>
    <script src="{{ asset('assets/admin/js/homepage-script.js') }}"></script>
    <script src="{{ asset('assets/admin/js/team-availability.js') }}"></script>


    <script type="text/javascript">
        // Adding current url to cookie. Needs for redirects after login1 and login2
        $currentLink = window.location.href.split('//')[1];
        $domain = '{{ domain }}';
        $defUrlDomain = $domain + '/';
        if ($currentLink != $defUrlDomain) {
            document.cookie = "redirectAfterLogin=" + $currentLink + ";domain=" + $domain;
        }

        // Get login link by subdomain
        $currentTeam = getSubdomainLink();

        // Click on workspace button
        if ($currentTeam.length > 0 && document.cookie.indexOf('redirectAfterLogin=') >= 0) {
            $currentTeam.click();
        }

        function getSubdomainLink() {
            $domainBeforeRedirect = getCookie('domainBeforeRedirect');
            $subDomain = $domainBeforeRedirect.split('.')[0];

            $search = $subDomain.replaceAll('-', " ");
            $currentTeam = $(".team-list-wrapper ul li .team-name:contains('" + $search + "')").parents('li').find('a:first');

            if ($currentTeam.length <= 0) {
                $search = $subDomain.replaceAll('-', "_");
                $currentTeam = $(".team-list-wrapper ul li .team-name:contains('" + $search + "')").parents('li').find('a:first');
            }

            return $currentTeam;
        }

        /**
         * Get cookie
         * @param name
         * @returns {string|null}
         */
        function getCookie(name) {
            let v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return v ? v[2] : null;
        }
    </script>
{% endblock %}
