{% trans_default_domain 'messages' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
	<!-- Small Landing Section Start -->
    <section>
        <div class="full-width">
            <div class="container-fluid">
                <div class="custom-placeholder dark-overlay">
                    <img class="tiny" media="(min-width: 0px)" srcset="{{ asset('assets/admin/img/campr-has-16-project-management-modules-tiny.jpg') }}" alt="CAMPR has 16 usefull project management modules" style="position:absolute;width:100%;height:100%;top:0;left:0;">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="{{ asset('assets/admin/img/campr-has-16-project-management-modules.jpg') }}" media="(min-width: 1200px)">
                        <source srcset="{{ asset('assets/admin/img/campr-has-16-project-management-modules-large.jpg') }}" media="(min-width: 992px)">
                        <source srcset="{{ asset('assets/admin/img/campr-has-16-project-management-modules-medium.jpg') }}" media="(min-width: 768px)">
                        <source srcset="{{ asset('assets/admin/img/campr-has-16-project-management-modules-small.jpg') }}" media="(min-width: 400px)">
                        <source srcset="{{ asset('assets/admin/img/campr-has-16-project-management-modules-very-small.jpg') }}" media="(min-width: 0px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img class="lazy lazyload" src="{{ asset('assets/admin/img/campr-has-16-project-management-modules-medium.jpg') }}" data-lazy-src="{{ asset('assets/admin/img/campr-has-16-project-management-modules-medium.jpg') }}" alt="CAMPR has 16 usefull project management modules">         
                    </picture>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">
                            16 Bedrock Modules
                        </h1>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-10 mr-md-auto ml-md-auto">                        
                        <p class="subtitle text-center">
                            The Campr App has 16 free modules that can be manually activated or used based on our Project Creation Wizard algorithm.
                            <span class="small-separator"></span>
                            <b class="block">More premium modules coming soon in our Enterprise Edition</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">                                
                        <div class="module-icons">
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="33.5,4.1 37,4.1 37,41.5 5,41.5 5,4.1 8.5,4.1"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M24.6,4.1c0-2-1.6-3.6-3.6-3.6c-2,0-3.6,1.6-3.6,3.6h-5.3v5.3h17.8V4.1H24.6z"/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="12.1,7.6 8.5,7.6 8.5,37.9 26.3,37.9 26.3,30.8 33.5,30.8 33.5,7.6 29.9,7.6"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="33.5" y1="30.8" x2="26.3" y2="37.9"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.9" y1="16.5" x2="28.1" y2="16.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.9" y1="20.1" x2="28.1" y2="20.1"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.9" y1="23.7" x2="28.1" y2="23.7"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.9" y1="27.2" x2="21.9" y2="27.2"/>
                                    </g>
                                </svg>
                            </div> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="5" r="4.5"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="37" r="4.5"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="36.2" cy="37" r="4.5"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="5.8" cy="37" r="4.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="21" y1="9.4" x2="21" y2="32.6"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M5.8,32.6c0-5.9,3.9-10.7,9.8-10.7h9.8c5.9,0,10.7,4.8,10.7,10.7"/>
                                    </g>
                                </svg>
                            </div>  
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="5.1" cy="21" r="4.4" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="21" r="4.4" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="36.9" cy="21" r="4.4" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="5.1" y1="16.6" x2="5.1" y2="0.5" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="21" y1="25.4" x2="21" y2="41.5" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="36.9" y1="16.6" x2="36.9" y2="0.5" />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="14.8" cy="27.2" r="5.3" />
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M26.1,24.8l2.8-1.6L25.4,17l-2.8,1.6c-1.2-1.1-2.6-1.9-4.2-2.4V13h-7.1v3.2 c-1.6,0.5-3,1.3-4.2,2.4L4.2,17l-3.6,6.2l2.8,1.6c-0.3,1.6-0.4,3.2,0,4.8l-2.8,1.6l3.6,6.2L7,35.8c1.2,1.1,2.6,1.9,4.2,2.4v3.2 h7.1v-3.2c1.6-0.5,3-1.3,4.2-2.4l2.8,1.6l3.6-6.2l-2.8-1.6C26.4,28.1,26.5,26.5,26.1,24.8z" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="33.5" cy="8.5" r="2.7" />
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M39.5,7.1l1.8-1L39.6,3l-1.8,1c-0.7-0.6-1.5-1.2-2.5-1.4V0.5h-3.6v2.1 c-0.9,0.3-1.8,0.8-2.5,1.4l-1.8-1l-1.8,3.1l1.8,1c-0.2,1-0.2,2,0,2.9l-1.8,1l1.8,3.1l1.8-1c0.7,0.6,1.5,1.2,2.5,1.4v2.1h3.6v-2.1 c0.9-0.3,1.8-0.8,2.5-1.4l1.8,1l1.8-3.1l-1.8-1C39.8,9,39.8,8,39.5,7.1z" />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="29.9" cy="24.6" r="0.9" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="7.6" y1="13" x2="9.4" y2="13" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13" y1="13" x2="14.8" y2="13" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="18.3" y1="13" x2="20.1" y2="13" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.7" y1="13" x2="25.5" y2="13" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29" y1="13" x2="30.8" y2="13" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="7.6" y1="36.2" x2="9.4" y2="36.2" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13" y1="36.2" x2="14.8" y2="36.2" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="18.3" y1="36.2" x2="20.1" y2="36.2" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.7" y1="36.2" x2="25.5" y2="36.2" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29" y1="36.2" x2="30.8" y2="36.2" />
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M41.5,25.5c0,2-1.6,3.6-3.6,3.6H29c-2,0-3.6-1.6-3.6-3.6v-1.8c0-2,1.6-3.6,3.6-3.6h8.9 c2,0,3.6,1.6,3.6,3.6V25.5z" />
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M36.2,20.1c0,0,0-2.4,0-5.3s-2.4-5.3-5.3-5.3h-25" />
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M27.2,5.8H5.8c-2.4,0-2.4,3.6,0,3.6" />
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M36.2,29v5.3c0,2.9-2.4,5.3-5.3,5.3h-25c-2.9,0-5.3-2.4-5.3-5.3V7.6c0-2.9,2.4-5.3,5.3-5.3 h21.4c2.9,0,5.3,1.6,5.3,3.6c0,2,0,3.6,0,3.6" />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="21.9,18.3 0.5,9.4 0.5,32.6 21.9,41.5    " />
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="21.9,18.3 41.5,9.4 41.5,32.6 21.9,41.5  " />
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="0.5,9.4 21,0.5 41.5,9.4    " />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="12.4" y1="4.2" x2="32.2" y2="13.6" />
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="16.5,22.8 5.8,17.4 5.8,26.3 16.5,31.7   " />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="41.5,41.5 0.5,41.5 0.5,0.5     " />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="13" cy="29" r="2.7" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29.8" y1="14.4" x2="37" y2="5.1" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.3" y1="12.9" x2="25.5" y2="15.8" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="20.6" x2="12.5" y2="13.5" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="28.7" y1="27.7" x2="36.5" y2="23.2" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="15.7" y1="29" x2="23.7" y2="29" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="37" x2="10.7" y2="30.4" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="14.8" cy="12.1" r="2.7" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="28.1" cy="16.5" r="2.7" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="38.8" cy="3.2" r="2.7" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="38.8" cy="21.9" r="2.7" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="26.3" cy="29" r="2.7" />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <rect x="0.5" y="0.5" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="23.2" height="5.3" />
                                        <rect x="18.3" y="20.1" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="23.2" height="5.3" />
                                        <rect x="0.5" y="36.2" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="23.2" height="5.3" />
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M13,5.8v6.2c0,1.5,1.2,2.7,2.7,2.7H21c1.5,0,2.7,1.2,2.7,2.7v2.7" />
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M32.6,25.5v9.8c0,1.5-1.2,2.7-2.7,2.7h-6.2" />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="6.1" cy="6.1" r="5.6" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="6.1" r="5.6" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="35.9" cy="6.1" r="5.6" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="6.1" cy="21" r="5.6" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="21" r="5.6" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="35.9" cy="21" r="5.6" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="6.1" cy="35.9" r="5.6" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="35.9" r="5.6" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="35.9" cy="35.9" r="5.6" />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="20.1" y1="8.5" x2="20.1" y2="31.7" />
                                        <rect x="7.6" y="1.4" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="26.7" height="7.1" />
                                        <rect x="16.5" y="31.7" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8.9" height="8.9" />
                                        <rect x="0.5" y="31.7" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8.9" height="8.9" />
                                        <rect x="32.6" y="31.7" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8.9" height="8.9" />
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="36.2,31.7 36.2,21 5.8,21 5.8,31.7  " />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M4.1,25.5v4.5c0,1.5,0.3,2.7,1.8,2.7v8.9h5.3v-8.9c1.5,0,1.8-1.2,1.8-2.7v-4.5H4.1z" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="8.5" cy="19.2" r="2.7" />
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M29,25.5v4.5c0,1.5,0.3,2.7,1.8,2.7v8.9h5.3v-8.9c1.5,0,1.8-1.2,1.8-2.7v-4.5H29z" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="33.5" cy="19.2" r="2.7" />
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="11.2,11.2 16.5,11.2 16.5,15.7 21,11.2 30.8,11.2 30.8,0.5 11.2,0.5" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="14.8" y1="7.7" x2="23.7" y2="7.7" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="14.8" y1="4.1" x2="27.2" y2="4.1" />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="25.5,21.9 25.5,34.4 4.1,34.4 4.1,0.5 37.9,0.5 37.9,21.9" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="37.9" y1="21.9" x2="25.5" y2="34.4" />
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="5.8,37.9 36.2,37.9 36.2,29.9" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="7.6" y1="41.5" x2="34.4" y2="41.5" />
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="29,9.4 17.2,22.6 13,18.5" />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="29,30.8 29,41.5 2.3,41.5 2.3,4.1 39.7,4.1 39.7,30.8"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="39.7" y1="30.8" x2="29" y2="41.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="7.6" y1="0.5" x2="7.6" y2="8.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="16.5" y1="0.5" x2="16.5" y2="8.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="25.5" y1="0.5" x2="25.5" y2="8.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="34.4" y1="0.5" x2="34.4" y2="8.5"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M8.5,21.9l1.8-1.8c1-1,2.6-1,3.6,0s2.6,1,3.6,0c1-1,2.6-1,3.6,0c1,1,2.6,1,3.6,0 c1-1,2.6-1,3.6,0c1,1,2.6,1,3.6,0l1.8-1.8"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M8.5,30.8l1.8-1.8c1-1,2.6-1,3.6,0c1,1,2.6,1,3.6,0"/>
                                    </g>

                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="23.7" cy="18.3" r="7.1" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="3.2" cy="9.4" r="2.7" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="38.8" cy="3.2" r="2.7" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="3.2" cy="38.8" r="2.7" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="23.7" cy="38.8" r="2.7" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="5.1" y1="36.9" x2="18.6" y2="23.4" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="28.7" y1="13.3" x2="36.9" y2="5.1" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="5.6" y1="10.6" x2="17.1" y2="15.5" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="36.3" y1="24.6" x2="29.8" y2="22" />
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.7" y1="36.2" x2="23.7" y2="25.5" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="38.8" cy="25.5" r="2.7" />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="40.6" x2="41.5" y2="40.6" />
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="7.6,40.6 7.6,31.7 2.3,31.7 2.3,40.6" />
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="18.3,40.6 18.3,22.8 13,22.8 13,40.6" />
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="29,40.6 29,26.3 23.7,26.3 23.7,40.6" />
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="39.7,40.6 39.7,13.9 34.4,13.9 34.4,40.6" />
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="37.9,1.4 26.3,13.9 15.7,10.3 5,19.2" />
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="30.8,1.4 37.9,1.4 37.9,8.5" />
                                    </g>
                                </svg>
                            </div>
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="29.9,14.8 16.5,27.2 12.1,22.8" />
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="21" r="20.5" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Small Landing Section End -->

    <!-- All Features Section Start -->
    <section class="section features-section purple-bkg">
        <div class="container-fluid">
            <div class="modules">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="33.5,4.1 37,4.1 37,41.5 5,41.5 5,4.1 8.5,4.1"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M24.6,4.1c0-2-1.6-3.6-3.6-3.6c-2,0-3.6,1.6-3.6,3.6h-5.3v5.3h17.8V4.1H24.6z"/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="12.1,7.6 8.5,7.6 8.5,37.9 26.3,37.9 26.3,30.8 33.5,30.8 33.5,7.6 29.9,7.6"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="33.5" y1="30.8" x2="26.3" y2="37.9"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.9" y1="16.5" x2="28.1" y2="16.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.9" y1="20.1" x2="28.1" y2="20.1"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.9" y1="23.7" x2="28.1" y2="23.7"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.9" y1="27.2" x2="21.9" y2="27.2"/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-contract.jpg') }}" data-lazy-src="{{ asset('assets/admin/img/Campr-project-contract.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Project Contract</h3>
                                <p>The goal of the project contract is to make a written agreement between the project sponsor and the project manager. This agreement shall contain a briefly description of the framework of the project as well as the usage of required resources for this endeavor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="5" r="4.5"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="37" r="4.5"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="36.2" cy="37" r="4.5"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="5.8" cy="37" r="4.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="21" y1="9.4" x2="21" y2="32.6"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M5.8,32.6c0-5.9,3.9-10.7,9.8-10.7h9.8c5.9,0,10.7,4.8,10.7,10.7"/>
                                    </g>
                                </svg>
                            </div>                                                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-organization.jpg') }}" data-lazy-src="{{ asset('assets/admin/img/Campr-project-organization.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Organization</h3>
                                <p>The Project Organization lists the project participants of the project in a hierarchical order. This module visualizes the project organization chart, defines the roles, and the relationships between the project teams. Also, you can create individual distribution lists for reports and meeting invites. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="5.1" cy="21" r="4.4"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="21" r="4.4"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="36.9" cy="21" r="4.4"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="5.1" y1="16.6" x2="5.1" y2="0.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="21" y1="25.4" x2="21" y2="41.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="36.9" y1="16.6" x2="36.9" y2="0.5"/>
                                    </g>
                                </svg>
                            </div>
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-phases-and-milestones.jpg') }}" data-lazy-src="{{ asset('assets/admin/img/Campr-project-phases-and-milestones.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Phases &amp; Milestones</h3>
                                <p>Work packages can be grouped in a phase according to project sequences. Particularly important events in the project progress are defined and terminated as milestones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="14.8" cy="27.2" r="5.3"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M26.1,24.8l2.8-1.6L25.4,17l-2.8,1.6c-1.2-1.1-2.6-1.9-4.2-2.4V13h-7.1v3.2 c-1.6,0.5-3,1.3-4.2,2.4L4.2,17l-3.6,6.2l2.8,1.6c-0.3,1.6-0.4,3.2,0,4.8l-2.8,1.6l3.6,6.2L7,35.8c1.2,1.1,2.6,1.9,4.2,2.4v3.2 h7.1v-3.2c1.6-0.5,3-1.3,4.2-2.4l2.8,1.6l3.6-6.2l-2.8-1.6C26.4,28.1,26.5,26.5,26.1,24.8z"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="33.5" cy="8.5" r="2.7"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M39.5,7.1l1.8-1L39.6,3l-1.8,1c-0.7-0.6-1.5-1.2-2.5-1.4V0.5h-3.6v2.1 c-0.9,0.3-1.8,0.8-2.5,1.4l-1.8-1l-1.8,3.1l1.8,1c-0.2,1-0.2,2,0,2.9l-1.8,1l1.8,3.1l1.8-1c0.7,0.6,1.5,1.2,2.5,1.4v2.1h3.6v-2.1 c0.9-0.3,1.8-0.8,2.5-1.4l1.8,1l1.8-3.1l-1.8-1C39.8,9,39.8,8,39.5,7.1z"/>
                                    </g>
                                </svg>
                            </div>
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-task-management-grid.jpg') }}" data-lazy-src="{{ asset('assets/admin/img/Campr-project-task-management-grid.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Task Management</h3>
                                <p>The Task Management provides an overview of all work packages assigned to the project. A work package is a group of associated tasks. Typical categories for grouped tasks are geographical area, engineering discipline, technology, or the time needed to accomplish them.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="29.9" cy="24.6" r="0.9"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="7.6" y1="13" x2="9.4" y2="13"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13" y1="13" x2="14.8" y2="13"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="18.3" y1="13" x2="20.1" y2="13"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.7" y1="13" x2="25.5" y2="13"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29" y1="13" x2="30.8" y2="13"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="7.6" y1="36.2" x2="9.4" y2="36.2"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13" y1="36.2" x2="14.8" y2="36.2"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="18.3" y1="36.2" x2="20.1" y2="36.2"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.7" y1="36.2" x2="25.5" y2="36.2"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29" y1="36.2" x2="30.8" y2="36.2"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M41.5,25.5c0,2-1.6,3.6-3.6,3.6H29c-2,0-3.6-1.6-3.6-3.6v-1.8c0-2,1.6-3.6,3.6-3.6h8.9 c2,0,3.6,1.6,3.6,3.6V25.5z"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M36.2,20.1c0,0,0-2.4,0-5.3s-2.4-5.3-5.3-5.3h-25"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M27.2,5.8H5.8c-2.4,0-2.4,3.6,0,3.6"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M36.2,29v5.3c0,2.9-2.4,5.3-5.3,5.3h-25c-2.9,0-5.3-2.4-5.3-5.3V7.6c0-2.9,2.4-5.3,5.3-5.3 h21.4c2.9,0,5.3,1.6,5.3,3.6c0,2,0,3.6,0,3.6"/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-internal-costs.jpg') }}" data-lazy-src="{{ asset('assets/admin/img/Campr-project-internal-costs.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Internal Costs</h3>
                                <p>Keeping track of the project costs is crucial. Cost planning allows you to calculate the cost per work package, and then to calculate the total cost of the project. A distinction is made between internal costs and external costs as well as operative costs and invest. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="21.9,18.3 0.5,9.4 0.5,32.6 21.9,41.5    "/>
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="21.9,18.3 41.5,9.4 41.5,32.6 21.9,41.5  "/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="0.5,9.4 21,0.5 41.5,9.4    "/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="12.4" y1="4.2" x2="32.2" y2="13.6"/>
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="16.5,22.8 5.8,17.4 5.8,26.3 16.5,31.7   "/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-external-costs.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">External Costs</h3>
                                <p>Resource planning allows you to calculate the necessary personnel usage per work package.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="41.5,41.5 0.5,41.5 0.5,0.5     "/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="13" cy="29" r="2.7"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="29.8" y1="14.4" x2="37" y2="5.1"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.3" y1="12.9" x2="25.5" y2="15.8"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="20.6" x2="12.5" y2="13.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="28.7" y1="27.7" x2="36.5" y2="23.2"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="15.7" y1="29" x2="23.7" y2="29"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="37" x2="10.7" y2="30.4"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="14.8" cy="12.1" r="2.7"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="28.1" cy="16.5" r="2.7"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="38.8" cy="3.2" r="2.7"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="38.8" cy="21.9" r="2.7"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="26.3" cy="29" r="2.7"/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-risks-and-opportunities.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Risks &amp; Opportunities</h3>
                                <p>Regular risk analysis, indicating potential hazards, as well as uncovering opportunities within your project helps you to react proactively in all situations. This module supports you in collecting, structuring, tracking and visualizing risks and opportunities.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <rect x="0.5" y="0.5" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="23.2" height="5.3"/>
                                        <rect x="18.3" y="20.1" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="23.2" height="5.3"/>
                                        <rect x="0.5" y="36.2" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="23.2" height="5.3"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M13,5.8v6.2c0,1.5,1.2,2.7,2.7,2.7H21c1.5,0,2.7,1.2,2.7,2.7v2.7"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M32.6,25.5v9.8c0,1.5-1.2,2.7-2.7,2.7h-6.2"/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-gantt-chart.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Gantt Chart</h3>
                                <p>The Gantt Chart is a standard visualization of all phases, work packages, tasks and milestones on a timeline according to the planned project execution. All items have dedicated start and finish date and are displayed in individual bars on the time axis. Correlations between those items, such as predecessor and successor tasks, can be defined and are displayed as well.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="6.1" cy="6.1" r="5.6"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="6.1" r="5.6"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="35.9" cy="6.1" r="5.6"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="6.1" cy="21" r="5.6"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="21" r="5.6"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="35.9" cy="21" r="5.6"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="6.1" cy="35.9" r="5.6"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="35.9" r="5.6"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="35.9" cy="35.9" r="5.6"/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-rasci-matrix.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">RASCI Matrix</h3>
                                <p>A responsibility assignment matrix, describes the participation by various roles in completing tasks or deliverables for a project execution. It is especially useful in clarifying roles and responsibilities in cross-functional projects and processes.</p>
                                <p>RASCI is an acronym and stands for the five different roles within the execution process of a work package or task: Responsible, Accountable, Supportable, Consulted, and Informed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="20.1" y1="8.5" x2="20.1" y2="31.7"/>
                                        <rect x="7.6" y="1.4" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="26.7" height="7.1"/>
                                        <rect x="16.5" y="31.7" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8.9" height="8.9"/>
                                        <rect x="0.5" y="31.7" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8.9" height="8.9"/>
                                        <rect x="32.6" y="31.7" fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="8.9" height="8.9"/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="36.2,31.7 36.2,21 5.8,21 5.8,31.7  "/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-wbs.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">WBS</h3>
                                <p>The Work Breakdown Structure (WBS) is a deliverable-oriented breakdown of a project into smaller components. A work breakdown structure is a key project deliverable that organizes the team's work into manageable sections. This module visualizes the breakdown in a tree- structure starting with the project phases and work packages, tasks, and milestones in the branches. The structure can be manipulated within the module for restructuring purposes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M4.1,25.5v4.5c0,1.5,0.3,2.7,1.8,2.7v8.9h5.3v-8.9c1.5,0,1.8-1.2,1.8-2.7v-4.5H4.1z"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="8.5" cy="19.2" r="2.7"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M29,25.5v4.5c0,1.5,0.3,2.7,1.8,2.7v8.9h5.3v-8.9c1.5,0,1.8-1.2,1.8-2.7v-4.5H29z"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="33.5" cy="19.2" r="2.7"/>
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="11.2,11.2 16.5,11.2 16.5,15.7 21,11.2 30.8,11.2 30.8,0.5 11.2,0.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="14.8" y1="7.7" x2="23.7" y2="7.7"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="14.8" y1="4.1" x2="27.2" y2="4.1"/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-meetings.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Meetings</h3>
                                <p>CAMPR supports you in the coordination of meetings with project participants. You can create invitations for meetings, schedule your meetings, and can keep track on them. Also, meeting minutes can be entered in a structured form and send out to all relevant meeting participants according to predefined distribution lists.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="25.5,21.9 25.5,34.4 4.1,34.4 4.1,0.5 37.9,0.5 37.9,21.9"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="37.9" y1="21.9" x2="25.5" y2="34.4"/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="5.8,37.9 36.2,37.9 36.2,29.9"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="7.6" y1="41.5" x2="34.4" y2="41.5"/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="29,9.4 17.2,22.6 13,18.5"/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-todos.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Todos</h3>
                                <p>The central to-do list is used to document the agreed or necessary to-dos during your project.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polygon fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="29,30.8 29,41.5 2.3,41.5 2.3,4.1 39.7,4.1 39.7,30.8"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="39.7" y1="30.8" x2="29" y2="41.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="7.6" y1="0.5" x2="7.6" y2="8.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="16.5" y1="0.5" x2="16.5" y2="8.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="25.5" y1="0.5" x2="25.5" y2="8.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="34.4" y1="0.5" x2="34.4" y2="8.5"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M8.5,21.9l1.8-1.8c1-1,2.6-1,3.6,0s2.6,1,3.6,0c1-1,2.6-1,3.6,0c1,1,2.6,1,3.6,0 c1-1,2.6-1,3.6,0c1,1,2.6,1,3.6,0l1.8-1.8"/>
                                        <path fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M8.5,30.8l1.8-1.8c1-1,2.6-1,3.6,0c1,1,2.6,1,3.6,0"/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-infos.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Infos</h3>
                                <p>With the "Info"-module, you can document general information related to your project or your team. Information such as changes to the project scope, new team members joining, new events planned, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="23.7" cy="18.3" r="7.1"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="3.2" cy="9.4" r="2.7"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="38.8" cy="3.2" r="2.7"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="3.2" cy="38.8" r="2.7"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="23.7" cy="38.8" r="2.7"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="5.1" y1="36.9" x2="18.6" y2="23.4"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="28.7" y1="13.3" x2="36.9" y2="5.1"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="5.6" y1="10.6" x2="17.1" y2="15.5"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="36.3" y1="24.6" x2="29.8" y2="22"/>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.7" y1="36.2" x2="23.7" y2="25.5"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="38.8" cy="25.5" r="2.7"/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-decisions.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Decisions</h3>
                                <p>In the "Decisions"-module, you can document the decisions made during project execution. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="40.6" x2="41.5" y2="40.6"/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="7.6,40.6 7.6,31.7 2.3,31.7 2.3,40.6"/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="18.3,40.6 18.3,22.8 13,22.8 13,40.6"/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="29,40.6 29,26.3 23.7,26.3 23.7,40.6"/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="39.7,40.6 39.7,13.9 34.4,13.9 34.4,40.6"/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="37.9,1.4 26.3,13.9 15.7,10.3 5,19.2"/>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="30.8,1.4 37.9,1.4 37.9,8.5"/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-status-report.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Status Report</h3>
                                <p>The project status report provides an overview of the overall project condition regarding services, deadlines, resources, costs, organization and context and shows planned measures and necessary decisions. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="module">
                            <button class="close-module">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="0.5" x2="41.5" y2="41.5"/>
                                    <line fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="0.5" y1="41.5" x2="41.5" y2="0.5"/>
                                </svg>
                            </button> 
                            <div class="svg">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42">
                                    <g>
                                        <polyline fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="29.9,14.8 16.5,27.2 12.1,22.8"/>
                                        <circle fill="none" stroke="#61C3A5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="21" cy="21" r="20.5"/>
                                    </g>
                                </svg>
                            </div>                           
                            <div class="module-image">
                                <img class="lazyload" src="{{ asset('assets/admin/img/Campr-project-close-down-report.jpg') }}" alt="Campr Organization Module - Organize your project team">
                            </div>
                            <div class="module-content">
                                <h3 class="more-title">Close Down Report</h3>
                                <p>The project final report serves as a final document for the evaluation of the project and for the planning of residual tasks and the post-project phase. The project final report is the basis for the final project commissioning process.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- All Features Section End -->

    <!-- Comparison Start -->
    <section class="section comparison-section full-width">
        <div class="custom-placeholder">
            <img class="tiny" media="(min-width: 0px)" srcset="{{ asset('assets/admin/img/Campr-is-for-everyone-tiny.jpg') }}" alt="Get CAMPR Free" width="100%" style="position:absolute;width:100%;height:100%;top:0;left:0;">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="{{ asset('assets/admin/img/Campr-is-for-everyone.jpg') }}" media="(min-width: 1200px)">
                <source srcset="{{ asset('assets/admin/img/Campr-is-for-everyone-large.jpg') }}" media="(min-width: 992px)">
                <source srcset="{{ asset('assets/admin/img/Campr-is-for-everyone-medium.jpg') }}" media="(min-width: 768px)">
                <source srcset="{{ asset('assets/admin/img/Campr-is-for-everyone-small.jpg') }}" media="(min-width: 400px)">
                <source srcset="{{ asset('assets/admin/img/Campr-is-for-everyone-very-small.jpg') }}" media="(min-width: 0px)">
                <!--[if IE 9]></video><![endif]-->
                <img class="lazy lazyload" src="{{ asset('assets/admin/img/Campr-is-for-everyone.jpg') }}" data-lazy-src="{{ asset('assets/admin/img/Christoph-Pohl-Campr-CEO-and-Founder-medium.jpg') }}" alt="CAMPR comes in Free Community Edition or Enterprise Edition">         
            </picture>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-lg-6 order-lg-2 same-height">
                    <div class="table">
                        <div class="cell">
                            <div class="pl-60">
                                <h2>Campr<br>is for<br>everyone</h2>
                                <p class="mt-60">Aliquam fermentum felis id dignissim elementum. Fusce efficitur tellus sed turpis ultrices ornare. Donec varius auctor luctus. Donec non sapien sollicitudin, pellentesque enim id, laoreet nibh. In sit amet congue magna, ut posuere elit. In hac habitasse platea dictumst. Mauris tempor a leo quis lacinia. Morbi augue nunc, commodo ut dolor eu, mollis laoreet augue.</p>
                                <div class="buttons">
                                    <a href="http://localhost/campr/register.html" class="button">Sign up now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                         
                <div class="col-lg-6 order-lg-1 same-height">                            
                    <div class="mt-30 d-lg-none"></div>
                    <div class="table">
                        <div class="cell">
                            <div class="table-wrapper">
                                <table class="table comparison-table">
                                    <thead>
                                        <tr>
                                            <th>Features</th>
                                            <th>Enterprise Edition<span class="note success-color caps">coming soon</span></th>
                                            <th>Community Edition<span class="note warning-color">cloud hosted</span></th>
                                            <th>Community Edition<span class="note warning-color">on-premise</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>16 Bedrock Modules</td>
                                            <td class="caps success-color">Yes</td>
                                            <td class="caps success-color">Yes</td>
                                            <td class="caps success-color">Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Cloud Hosted</td>
                                            <td class="caps success-color">Yes</td>
                                            <td class="caps success-color">Yes</td>
                                            <td class="caps danger-color">-</td>
                                        </tr>                                    
                                        <tr>
                                            <td>Customized</td>
                                            <td class="caps success-color">Yes</td>
                                            <td class="caps danger-color">-</td>
                                            <td class="caps danger-color">-</td>
                                        </tr>
                                        <tr>
                                            <td>Professional Consulting</td>
                                            <td class="caps success-color">Yes</td>
                                            <td class="caps danger-color">-</td>
                                            <td class="caps danger-color">-</td>
                                        </tr>
                                        <tr>
                                            <td>+ 4 Pro Modules</td>
                                            <td class="caps success-color">Yes</td>
                                            <td class="caps danger-color">-</td>
                                            <td class="caps danger-color">-</td>
                                        </tr>
                                        <tr>
                                            <td>Long Term Support</td>
                                            <td class="caps success-color">Yes</td>
                                            <td class="caps danger-color">-</td>
                                            <td class="caps danger-color">-</td>
                                        </tr>
                                        <tr>
                                            <td>CAMPR Branding</td>
                                            <td class="caps success-color">-</td>
                                            <td class="caps danger-color">Yes</td>
                                            <td class="caps danger-color">Yes</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </section>
    <!-- Comparison End -->
    
    <!-- Signup Start -->
    <section id="signup" class="section sign-up-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">
                        Sign up for CAMPR
                    </h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8 mr-md-auto ml-md-auto">                        
                    <p class="subtitle text-center">
                        The project settings below are optional, but they can give us a very good insight on how Campr might help you. Based on your selections, we will send you an email with the list of modules you should use in your project.
                    </p>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row">                    
                <div class="col-lg-10 col-sm-12 ml-lg-auto mr-lg-auto">
                    {{ render(url('main_register_form')) }}
                </div>
            </div>
        </div>
    </section>
    <!-- Signup End -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}    

    <script src="{{ asset('assets/admin/js/lazyload.min.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/vivus/dist/vivus.min.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/matchHeight/dist/jquery.matchHeight-min.js') }}"></script>
    <script src="{{ asset('assets/admin/js/modules-script.js') }}"></script>
{% endblock %}