{% trans_default_domain 'messages' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    {% set hideSignUp = app.environment == 'qa' %}

    <!-- Small Landing Section Start -->
    <section>
        <div class="full-width">
            <div class="container-fluid">
                <div class="custom-placeholder dark-overlay">
                    <img class="tiny" media="(min-width: 0px)"
                         srcset="{{ asset('assets/admin/img/Campr-the-project-management-tool-for-industrious-people-tiny.jpg') }}"
                         alt="CAMPR is the Project Management Tool for industrious people"
                         style="position:absolute;width:100%;height:100%;top:0;left:0;">
                    <picture>
                        <!--[if IE 9]>
                        <video style="display: none;"><![endif]-->
                        <source srcset="{{ asset('assets/admin/img/Campr-the-project-management-tool-for-industrious-people.jpg') }}"
                                media="(min-width: 1200px)">
                        <source srcset="{{ asset('assets/admin/img/Campr-the-project-management-tool-for-industrious-people-large.jpg') }}"
                                media="(min-width: 992px)">
                        <source srcset="{{ asset('assets/admin/img/Campr-the-project-management-tool-for-industrious-people-medium.jpg') }}"
                                media="(min-width: 768px)">
                        <source srcset="{{ asset('assets/admin/img/Campr-the-project-management-tool-for-industrious-people-small.jpg') }}"
                                media="(min-width: 400px)">
                        <source srcset="{{ asset('assets/admin/img/Campr-the-project-management-tool-for-industrious-people-very-small.jpg') }}"
                                media="(min-width: 0px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img class="lazy lazyload"
                             src="{{ asset('assets/admin/img/Campr-the-project-management-tool-for-industrious-people-medium.jpg') }}"
                             data-lazy-src="{{ asset('assets/admin/img/Campr-the-project-management-tool-for-industrious-people-medium.jpg') }}"
                             alt="CAMPR is the Project Management Tool for industrious people">
                    </picture>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">
                            Start using CAMPR
                        </h1>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-10 mr-md-auto ml-md-auto">
                        <p class="subtitle text-center">
                            CAMPR is an <b>open source app</b>. You can create an account and use the cloud version or
                            register and download the on-premis (self-hosted) version. Both versions include all 16
                            bedrock modules.
                            <span class="small-separator"></span>
                            <b class="block">Enterprise Edition coming soon with a lot of neat features.</b>
                        </p>
                        <div class="buttons buttons-center">
                            {% if not hideSignUp %}
                                <a href="#signup" class="button">Sign up now</a>
                            {% else %}
                                <a href="javascript:void(0)" class="button">Coming soon!</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Small Landing Section End -->

    <!-- Community Edition Section Start -->
    <section class="section purple-bkg">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3>It's really simple</h3>
                    <p class="mt-30">All you need to do to start using CAMPR is sign-up with a valid email address. You
                        will receive an email with instruction on how to login to your account and a download link in
                        case you want to use CAMPR on your own machine.</p>

                    <p class="lead success-color">Enterprise Edition coming soon.</p>

                    <p>Here are the main differences between the Community and the Enterprise Editions.</p>

                    <div class="table-wrapper">
                        <table class="table comparison-table">
                            <thead>
                            <tr>
                                <th>Features</th>
                                <th>Enterprise Edition<span class="note success-color caps">coming soon</span></th>
                                <th>Community Edition<span class="note warning-color">cloud hosted</span></th>
                                <th>Community Edition<span class="note warning-color">on-premise</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>16 Bedrock Modules</td>
                                <td class="caps success-color">Yes</td>
                                <td class="caps success-color">Yes</td>
                                <td class="caps success-color">Yes</td>
                            </tr>
                            <tr>
                                <td>Cloud Hosted</td>
                                <td class="caps success-color">Yes</td>
                                <td class="caps success-color">Yes</td>
                                <td class="caps danger-color">-</td>
                            </tr>
                            <tr>
                                <td>Customized</td>
                                <td class="caps success-color">Yes</td>
                                <td class="caps danger-color">-</td>
                                <td class="caps danger-color">-</td>
                            </tr>
                            <tr>
                                <td>Professional Consulting</td>
                                <td class="caps success-color">Yes</td>
                                <td class="caps danger-color">-</td>
                                <td class="caps danger-color">-</td>
                            </tr>
                            <tr>
                                <td>+ 4 Pro Modules</td>
                                <td class="caps success-color">Yes</td>
                                <td class="caps danger-color">-</td>
                                <td class="caps danger-color">-</td>
                            </tr>
                            <tr>
                                <td>Long Term Support</td>
                                <td class="caps success-color">Yes</td>
                                <td class="caps danger-color">-</td>
                                <td class="caps danger-color">-</td>
                            </tr>
                            <tr>
                                <td>CAMPR Branding</td>
                                <td class="caps success-color">-</td>
                                <td class="caps danger-color">Yes</td>
                                <td class="caps danger-color">Yes</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mt-30 d-lg-none"></div>
                    <h3>How to install on-premise</h3>
                    <p class="mt-30">After you register you will receive an email with installation instructions. You
                        can also find them below. The app runs on <a href="https://www.docker.com/" class="simple-link"
                                                                     title="CAMPR runs with Docker">Docker</a>
                        containers so you don't have to configure a server on your machine.</p>

                    <div class="highlight mt-30">
                        <pre class="code">
                            <code>docker-compose up -d</code>
                            <code>docker exec -it campr_php-fpm_1 bash</code>
                            <code>bin/console cache:clear</code>
                            <code>bin/front-static</code>
                            <code>sudo chmod -R 777 /var/www/campr/var/logs/ /var/www/campr/var/cache/</code>
                            <code>bin/console doc:mig:mig -n --env=dev && bin/console doc:mig:mig -n --env=trisoft_dev</code>
                        </pre>
                    </div>

                    <div class="buttons text-right mt-30">
                        {% if not hideSignUp %}
                            <a href="#signup" class="button button-white-border">Sign up now</a>
                        {% else %}
                            <a href="javascript:void(0)" class="button button-white-border">Coming soon!</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- All Features Section End -->

    <!-- Signup Start -->
    {% if not hideSignUp %}
        {% include "@Main/Default/Register/_signup.html.twig" %}
    {% endif %}
    <!-- Signup End -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/admin/js/lazyload.min.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js') }}"></script>
    <script src="{{ asset('assets/admin/js/signup-script.js') }}"></script>
{% endblock %}
