{% trans_default_domain 'messages' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
	<!-- Small Landing Section Start -->
    <section>
        <div class="full-width">
            <div class="container-fluid">
                <div class="custom-placeholder dark-overlay">
                    <img class="tiny" media="(min-width: 0px)" srcset="{{ asset('bundles/main/assets/img/Campr-the-project-management-tool-for-industrious-people-tiny.jpg') }}" alt="CAMPR is the Project Management Tool for industrious people" style="position:absolute;width:100%;height:100%;top:0;left:0;">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="{{ asset('bundles/main/assets/img/Campr-the-project-management-tool-for-industrious-people.jpg') }}" media="(min-width: 1200px)">
                        <source srcset="{{ asset('bundles/main/assets/img/Campr-the-project-management-tool-for-industrious-people-large.jpg') }}" media="(min-width: 992px)">
                        <source srcset="{{ asset('bundles/main/assets/img/Campr-the-project-management-tool-for-industrious-people-medium.jpg') }}" media="(min-width: 768px)">
                        <source srcset="{{ asset('bundles/main/assets/img/Campr-the-project-management-tool-for-industrious-people-small.jpg') }}" media="(min-width: 400px)">
                        <source srcset="{{ asset('bundles/main/assets/img/Campr-the-project-management-tool-for-industrious-people-very-small.jpg') }}" media="(min-width: 0px)">
                        <!--[if IE 9]></video><![endif]-->
                        <img class="lazy lazyload" src="{{ asset('bundles/main/assets/img/Campr-the-project-management-tool-for-industrious-people-medium.jpg') }}" data-lazy-src="{{ asset('bundles/main/assets/img/Campr-the-project-management-tool-for-industrious-people-medium.jpg') }}" alt="CAMPR is the Project Management Tool for industrious people">         
                    </picture>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">
                            Start using CAMPR
                        </h1>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-10 mr-md-auto ml-md-auto">                        
                        <p class="subtitle text-center">
                            CAMPR is an <b>open source app</b>. You can create an account and use the cloud version or register and download the on-premis (self-hosted) version. Both versions include all 16 bedrock modules.
                            <span class="small-separator"></span>
                            <b class="block">Enterprise Edition coming soon with a lot of neat features.</b>
                        </p>
                        <div class="buttons buttons-center">
                            <a href="#signup" class="button">Sign up now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Small Landing Section End -->

    <!-- Community Edition Section Start -->
    <section class="section purple-bkg">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3>It's really simple</h3>
                    <p class="mt-30">All you need to do to start using CAMPR is sign-up with a valid email address. You will receive an email with instruction on how to login to your account and a download link in case you want to use CAMPR on your own machine.</p>

                    <p class="lead success-color">Enterprise Edition coming soon.</p>

                    <p>Here are the main differences between the Community and the Enterprise Editions.</p>

                    <div class="table-wrapper">
                        <table class="table comparison-table">
                            <thead>
                                <tr>
                                    <th>Features</th>
                                    <th>Enterprise Edition<span class="note success-color caps">coming soon</span></th>
                                    <th>Community Edition<span class="note warning-color">cloud hosted</span></th>
                                    <th>Community Edition<span class="note warning-color">on-premise</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>16 Bedrock Modules</td>
                                    <td class="caps success-color">Yes</td>
                                    <td class="caps success-color">Yes</td>
                                    <td class="caps success-color">Yes</td>
                                </tr>
                                <tr>
                                    <td>Cloud Hosted</td>
                                    <td class="caps success-color">Yes</td>
                                    <td class="caps success-color">Yes</td>
                                    <td class="caps danger-color">-</td>
                                </tr>                                    
                                <tr>
                                    <td>Customized</td>
                                    <td class="caps success-color">Yes</td>
                                    <td class="caps danger-color">-</td>
                                    <td class="caps danger-color">-</td>
                                </tr>
                                <tr>
                                    <td>Professional Consulting</td>
                                    <td class="caps success-color">Yes</td>
                                    <td class="caps danger-color">-</td>
                                    <td class="caps danger-color">-</td>
                                </tr>
                                <tr>
                                    <td>+ 4 Pro Modules</td>
                                    <td class="caps success-color">Yes</td>
                                    <td class="caps danger-color">-</td>
                                    <td class="caps danger-color">-</td>
                                </tr>
                                <tr>
                                    <td>Long Term Support</td>
                                    <td class="caps success-color">Yes</td>
                                    <td class="caps danger-color">-</td>
                                    <td class="caps danger-color">-</td>
                                </tr>
                                <tr>
                                    <td>CAMPR Branding</td>
                                    <td class="caps success-color">-</td>
                                    <td class="caps danger-color">Yes</td>
                                    <td class="caps danger-color">Yes</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mt-30 d-lg-none"></div>
                    <h3>How to install on-premise</h3>
                    <p class="mt-30">After you register you will receive an email with installation instructions. You can also find them below. The app runs on <a href="https://www.docker.com/" class="simple-link" title="CAMPR runs with Docker">Docker</a> containers so you don't have to configure a server on your machine.</p>

                    <div class="highlight mt-30">
                        <pre class="code">
                            <code>docker-compose up -d</code>
                            <code>docker exec -it campr_php-fpm_1 bash</code>
                            <code>bin/console cache:clear</code>
                            <code>bin/front-static</code>
                            <code>sudo chmod -R 777 /var/www/campr/var/logs/ /var/www/campr/var/cache/</code>
                            <code>bin/console doc:mig:mig -n --env=dev && bin/console doc:mig:mig -n --env=trisoft_dev</code>
                        </pre>
                    </div>

                    <div class="buttons text-right mt-30">
                        <a href="#signup" class="button button-white-border">Sign up now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- All Features Section End -->
    
    <!-- Signup Start -->
    <section id="signup" class="section sign-up-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">
                        Sign up for CAMPR
                    </h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8 mr-md-auto ml-md-auto">                        
                    <p class="subtitle text-center">
                        The project settings below are optional, but they can give us a very good insight on how Campr might help you. Based on your selections, we will send you an email with the list of modules you should use in your project.
                    </p>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row">                    
                <div class="col-lg-10 col-sm-12 ml-lg-auto mr-lg-auto">
                    <form class="form login-form">
                        <div class="slider-holder" id="slider_holder_1" data-min="0" data-max="36" data-step="1" data-type="single">
                            <div class="heading flex flex-space-between">
                                <span class="title">Project Duration</span>
                                <span class="value">
                                    <span id="slider_from_1" class="number"></span> <span class="text">Months</span>
                                </span>
                            </div>
                            <input type="text" class="range-slider" id="slider_1" data-from="slider_from_1" value=""/>
                        </div>
    
                        <div class="slider-holder" id="slider_holder_2" data-min="0" data-max="3000000" data-step="10000" data-type="single">
                            <div class="heading flex flex-space-between">
                                <span class="title">Project Budget</span>
                                <span class="value">
                                    <span class="text">$</span> <span id="slider_from_2" class="number"></span>
                                </span>
                            </div>
                            <input type="text" class="range-slider" id="slider_2" data-from="slider_from_2" value=""/>
                        </div>
    
                        <div class="slider-holder" id="slider_holder_3" data-min="1" data-max="20" data-step="1" data-type="double">
                            <div class="heading flex flex-space-between">
                                <span class="title">People Involved</span>
                                <span class="value">
                                    <span id="slider_from_3" class="number"></span> <span class="text"> - </span> <span id="slider_to_3" class="number"></span>
                                </span>
                            </div>
                            <input type="text" class="range-slider" id="slider_3" data-from="slider_from_3" data-to="slider_to_3" value=""/>
                        </div>
    
                        <div class="slider-holder" id="slider_holder_4" data-min="1" data-max="20" data-step="1" data-type="double">
                            <div class="heading flex flex-space-between">
                                <span class="title">Departments Involved</span>
                                <span class="value">
                                    <span id="slider_from_4" class="number"></span> <span class="text"> - </span> <span id="slider_to_4" class="number"></span>
                                </span>
                            </div>
                            <input type="text" class="range-slider" id="slider_4" data-from="slider_from_4" data-to="slider_to_4" value=""/>
                        </div>
    
                        <div class="slider-holder" id="slider_holder_5" data-type="single" data-values="Very Low, Low, Medium, High, Very High">
                            <div class="heading flex flex-space-between">
                                <span class="title">Strategical Meaning</span>
                                <span class="value">
                                    <span id="slider_from_5" class="number"></span>
                                </span>
                            </div>
                            <input type="text" class="range-slider" id="slider_5" data-from="slider_from_5" value=""/>
                        </div>
    
                        <div class="slider-holder" id="slider_holder_6" data-type="single" data-values="Very Few, Few, Many, Very Many">
                            <div class="heading flex flex-space-between">
                                <span class="title">Risks</span>
                                <span class="value">
                                    <span id="slider_from_6" class="number"></span>
                                </span>
                            </div>
                            <input type="text" class="range-slider" id="slider_6" data-from="slider_from_6" value=""/>
                        </div>
    
                        <div class="row">
                            <div class="col-md-4">
                                <span class="input">
                                    <input class="input__field" type="text" id="input-29" />
                                    <label class="input__label" for="input-29">
                                        <span class="icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
                                                <g>
                                                    <path class="st0" d="M22,20H2c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2h20c1.1,0,2,0.9,2,2v12C24,19.1,23.1,20,22,20z M2,5 C1.4,5,1,5.4,1,6v12c0,0.6,0.4,1,1,1h20c0.6,0,1-0.4,1-1V6c0-0.6-0.4-1-1-1H2z"/>
                                                    <path class="st0" d="M12,14.5c-0.1,0-0.2,0-0.3-0.1L3.2,8.9C3,8.8,2.9,8.5,3.1,8.2s0.5-0.3,0.7-0.1l8.2,5.3l8.2-5.3 c0.2-0.1,0.5-0.1,0.7,0.1c0.1,0.2,0.1,0.5-0.1,0.7l-8.5,5.5C12.2,14.5,12.1,14.5,12,14.5z"/>
                                                    <path class="st0" d="M3.5,16.5c-0.2,0-0.3-0.1-0.4-0.3C2.9,16,3,15.7,3.3,15.6l3.5-2c0.2-0.1,0.5-0.1,0.7,0.2s0.1,0.5-0.2,0.7 l-3.5,2C3.7,16.5,3.6,16.5,3.5,16.5z"/>
                                                    <path class="st0" d="M20.5,16.5c-0.1,0-0.2,0-0.2-0.1l-3.5-2c-0.2-0.1-0.3-0.4-0.2-0.7c0.1-0.2,0.4-0.3,0.7-0.2l3.5,2 c0.2,0.1,0.3,0.4,0.2,0.7C20.8,16.4,20.7,16.5,20.5,16.5z"/>
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="input__label-content input__label">Email</span>
                                    </label>
                                </span>
                            </div>
                            <div class="col-md-4">
                                <span class="input">
                                    <input class="input__field" type="text" id="input-30" />
                                    <label class="input__label" for="input-30">
                                        <span class="icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
                                                <g>
                                                    <path d="M23.5,24h-23C0.2,24,0,23.8,0,23.5c0-0.1,0-2.2,1.1-4.3c0.7-1.5,3.2-2.4,6.7-3.7c0.4-0.1,0.8-0.3,1.2-0.5 v-2.4c-0.4-0.4-1.4-1.3-1.5-2.9C7.3,9.6,7.1,9.2,7,8.8C6.8,8.1,6.9,7.2,7.4,6.7c0,0,0-0.1-0.1-0.2C7,5.5,6.4,3.4,7.3,2.2 c0.3-0.4,0.8-0.7,1.4-0.7C9.3,0.3,11.3,0,12.9,0c1.9,0,4.2,0.7,4.6,2.3c0.3,1.4-0.4,3.2-0.8,4.2c0,0.1-0.1,0.2-0.1,0.2 c0.5,0.5,0.6,1.3,0.4,2c-0.1,0.4-0.3,0.8-0.5,1c-0.1,1.6-1,2.6-1.5,2.9v2.4c0.4,0.2,0.8,0.3,1.2,0.5c3.5,1.3,6,2.2,6.7,3.7 c1,2.1,1.1,4.2,1.1,4.3C24,23.8,23.8,24,23.5,24z M1,23H23c-0.1-0.7-0.3-2-0.9-3.3c-0.6-1.1-3.2-2.1-6.2-3.2 c-0.5-0.2-1-0.4-1.6-0.6c-0.2-0.1-0.3-0.3-0.3-0.5v-3c0-0.2,0.1-0.3,0.2-0.4c0,0,1.3-0.9,1.3-2.6c0-0.2,0.2-0.4,0.4-0.5 c0.1-0.1,0.3-0.6,0.2-1.1c0-0.3-0.1-0.4-0.3-0.5c-0.2-0.1-0.3-0.3-0.3-0.4c0-0.2,0.1-0.4,0.2-0.8c0.3-0.9,1-2.5,0.8-3.6 C16.3,1.7,14.9,1,12.9,1C11,1,9.6,1.5,9.5,2.1C9.4,2.3,9.2,2.4,9,2.4c-0.4,0-0.7,0.1-0.9,0.4c-0.6,0.8,0,2.7,0.3,3.5 c0.1,0.4,0.2,0.5,0.2,0.7c0,0.2-0.1,0.4-0.3,0.4C8.1,7.5,8,7.6,7.9,7.9C7.9,8.3,8,8.8,8.1,9C8.3,9,8.5,9.2,8.5,9.4 c0,1.7,1.3,2.6,1.3,2.6c0.1,0.1,0.2,0.2,0.2,0.4v3c0,0.2-0.1,0.4-0.3,0.5c-0.5,0.2-1.1,0.4-1.6,0.6c-3,1.1-5.6,2.1-6.2,3.2 C1.3,21,1.1,22.3,1,23z"/>
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="input__label-content input__label">Name</span>
                                    </label>
                                </span>
                            </div>
                            <div class="col-md-4">
                                <button class="button button-block" type="submit">Sign up</button>
                            </div>
                        </div>                          
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup End -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}    

    <script src="{{ asset('bundles/main/assets/js/lazyload.min.js') }}"></script>
    <script src="{{ asset('assets/admin/vendors/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js') }}"></script>
    <script src="{{ asset('bundles/main/assets/js/signup-script.js') }}"></script>
{% endblock %}