{% trans_default_domain 'main' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <p class="text-primary">{{ 'main.account.payment.title'|trans }}</p>
            </h1>
            <a href="{{ path('main_payment_create') }}" class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed table-responsive">
                <thead>
                    <th>{{ 'main.account.payment.table.id'|trans }}</th>
                    <th>{{ 'main.account.payment.table.method'|trans }}</th>
                    <th>{{ 'main.account.payment.table.team'|trans }}</th>
                    <th>{{ 'main.general.actions'|trans }}</th>
                </thead>
                <tbody>
                {% for i in 1..10 %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>method{{ i }}</td>
                        <td>team-{{ i }}</td>
                        <td>
                            <a href="{{ path('main_payment_edit', {'id': i}) }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            <a href="{{ path('main_payment_invoice', {'id': i}) }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
