{% trans_default_domain 'main' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <p class="text-primary">{{ 'main.account.payment_method.title'|trans }}</p>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed table-responsive">
                <thead>
                    <th>{{ 'main.account.payment_method.table.id'|trans }}</th>
                    <th>{{ 'main.account.payment_method.table.name'|trans }}</th>
                    <th>{{ 'main.account.payment_method.table.token'|trans }}</th>
                </thead>
                <tbody>
                {% for i in 1..10 %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>name{{ i }}</td>
                        <td>token_{{ i }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
