{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% form_theme form 'AppBundle:Admin/Layout/Partials:form_fields.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.project.create'|trans }}</h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_project_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body card-padding">
                    {{ form_start(
                        form,
                        {
                            'method': 'POST',
                            'action': path('app_admin_project_create'),
                            'attr': {
                                'id': 'create-form',
                                'class': 'form-horizontal',
                                'novalidate': 'novalidate',
                            },
                        }
                    ) }}
                        {% if form.vars.valid == false %}
                            <div class="alert alert-danger">
                                {% for field in form.children %}
                                    {{ form_errors(field) }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form_widget(
                            form.name,
                            {
                                'attr': {
                                    'class': 'form-control input-sm',
                                },
                                'label': 'label.name'|trans,
                            }
                        ) }}
                        <div class="form-group">
                            {{ form_widget(
                                form.logoFile,
                                {
                                    'attr': {'class': 'form-control'}
                                }
                            ) }}
                        </div>
                        {{ form_widget(
                            form.number,
                            {
                                'attr': {
                                    'class': 'form-control input-sm',
                                },
                                'label': 'label.number'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.programme,
                            {
                                'attr': {'class': 'selectpicker'},
                                'label': 'label.programme'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.company,
                            {
                                'attr': {'class': 'selectpicker'},
                                'label': 'label.company'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.projectComplexity,
                            {
                                'attr': {'class': 'selectpicker'},
                                'label': 'label.project_complexity'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.projectCategory,
                            {
                                'attr': {'class': 'selectpicker'},
                                'label': 'label.project_category'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.projectScope,
                            {
                                'attr': {'class': 'selectpicker'},
                                'label': 'label.project_scope'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.status,
                            {
                                'attr': {'class': 'selectpicker'},
                                'label': 'label.status'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.portfolio,
                            {
                                'attr': {'class': 'selectpicker'},
                                'label': 'label.portfolio'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.currency,
                            {
                                'attr': {'class': 'selectpicker'},
                                'label': 'label.currency'|trans,
                            }
                        ) }}

                        {% include '@App/Admin/Layout/Partials/form_create_button.html.twig' %}

                        <span class="hidden">{{ form_row(form._token) }}</span>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
