{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.project.list'|trans }}<small>{{ project.name }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_project_create') }}">{{ 'add.project'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_project_edit', {'id': project.id}) }}">{{ 'button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_project_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>{{ 'table_header_cell.name'|trans }}</th>
                                <td>{{ project.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.number'|trans }}</th>
                                <td>{{ project.number }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.project_complexity'|trans }}</th>
                                <td>
                                    {% if project.projectComplexity %}
                                        {{ project.projectComplexity.name }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.project_category'|trans }}</th>
                                <td>
                                    {% if project.projectCategory %}
                                        {{ project.projectCategory.name }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.project_scope'|trans }}</th>
                                <td>
                                    {% if project.projectScope %}
                                        {{ project.projectScope.name }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.project_teams'|trans }}</th>
                                {% if project.projectTeams is not empty %}
                                    <td>
                                        {% for projectTeam in project.projectTeams %}
                                            <p>{{ projectTeam.name }}</p>
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.status'|trans }}</th>
                                <td>
                                    {% if project.status %}
                                        {{ project.status.name }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.portfolio'|trans }}</th>
                                <td>
                                    {% if project.portfolio %}
                                        {{ project.portfolio.name }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.currency'|trans }}</th>
                                <td>
                                    {{ project.currency.code }} ({{ project.currency.name }})
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.approved_at'|trans }}</th>
                                <td>
                                    {% if project.approvedAt %}
                                        {{ project.approvedAt|date('d/m/Y') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.status_updated_at'|trans }}</th>
                                <td>
                                    {% if project.statusUpdatedAt %}
                                        {{ project.statusUpdatedAt|date('d/m/Y') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.created_at'|trans }}</th>
                                <td>
                                    {% if project.createdAt %}
                                        {{ project.createdAt|date('d/m/Y') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.updated_at'|trans }}</th>
                                <td>
                                    {% if project.updatedAt %}
                                        {{ project.updatedAt|date('d/m/Y') }}
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
