{#<li class="locale-switcher">#}
    {#{% for locale in app_available_locales() %}#}
        {#{% if app_locale() == locale %}#}
            {#<img#}
                    {#title="{{ ('message.locale_switcher.' ~ locale)|trans }}"#}
                    {#src="{{ asset('assets/admin/img/locale-' ~ locale ~ '.png') }}"#}
                    {#alt="{{ ('message.locale_switcher.' ~ locale)|trans }}"/>#}
        {#{% else %}#}
            {#<a#}
               {#href="{{ path('app_admin_locale_switch', {'localeCode': locale, 'targetUrl': app.request.requestUri|url_encode}) }}"#}
               {#title="{{ ('message.locale_switcher.' ~ locale)|trans }}">#}
                {#<img src="{{ asset('assets/admin/img/locale-' ~ locale ~ '.png') }}"#}
                     {#alt="{{ ('message.locale_switcher.' ~ locale)|trans }}"/>#}
            {#</a>#}
        {#{% endif %}#}
    {#{% endfor %}#}
{#</li>#}
