{% trans_default_domain 'main' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-md-8">
            <h3>{{ 'main.contact.title'|trans }}</h3>
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {{ form_start(
                form,
                {
                    'method': 'POST',
                    'action': path('main_contact'),
                    'attr': {
                        'id': 'contact-form',
                        'novalidate': 'novalidate',
                    },
                }
            ) }}
            {% if form.vars.valid == false %}
                <div class="alert alert-danger">
                    {% for field in form.children %}
                        {{ form_errors(field) }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="control-group form-group {% if form_errors(form.full_name) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'main.contact.form.full_name'|trans }}</label>
                    {{ form_widget(form.full_name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="control-group form-group {% if form_errors(form.email) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'main.contact.form.email'|trans }}</label>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="control-group form-group {% if form_errors(form.subject) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'main.contact.form.subject'|trans }}</label>
                    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="control-group form-group {% if form_errors(form.message) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'main.contact.form.message'|trans }}</label>
                    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">{{ 'main.contact.form.send'|trans }}</button>
            </div>
            {{ form_end(form, {'render_rest': true}) }}
        </div>
    </div>
{% endblock %}
