{% trans_default_domain 'messages' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <p class="text-primary">
                    {{ 'title.payment_method.create'|trans }}
                    <a href="{{ path('main_payment_method_list') }}" class="btn btn-sm btn-primary pull-right">{{ 'button.back_to_list'|trans }}</a>
                </p>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            {{ form_start(
                form,
                {
                    'method': 'POST',
                    'action': path('main_payment_method_create'),
                    'attr': {
                        'id': 'create-payment-method',
                        'novalidate': 'novalidate',
                    },
                }
            ) }}
            {% if form.vars.valid == false %}
                <div class="alert alert-danger">
                    {% for field in form.children %}
                        {{ form_errors(field) }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="control-group form-group {% if form_errors(form.name) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'label.name'|trans }}</label>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="control-group form-group {% if form_errors(form.token) %}has-error{% endif %}">
                <div class="controls">
                    <label>{{ 'label.token'|trans }}</label>
                    {{ form_widget(form.token, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">{{ 'button.create'|trans }}</button>
            </div>
            {{ form_end(form, {'render_rest': true}) }}
        </div>
    </div>
{% endblock %}
