{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% form_theme form 'AppBundle:Admin/Layout/Partials:form_fields.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.risk.edit'|trans }}</h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_risk_create') }}">{{ 'add.risk'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_risk_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body m-t-0 card-padding">
                    {{ form_start(
                        form,
                        {
                            'method': 'POST',
                            'action': path('app_admin_risk_edit', {'id': id}),
                            'attr': {
                                'id': 'edit-form',
                                'class': 'form-horizontal',
                                'novalidate': 'novalidate',
                            },
                        }
                    ) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(
                        form.title,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'label.title'|trans
                        }
                    ) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(
                        form.description,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'label.description'|trans
                        }
                    ) }}
                    {{ form_errors(form.project) }}
                    {{ form_widget(
                        form.project,
                        {
                            'attr': {
                                'class': 'selectpicker',
                            },
                            'label': 'label.project'|trans
                        }
                    ) }}
                    {{ form_errors(form.impact) }}
                    {{ form_widget(
                        form.impact,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'label.impact'|trans
                        }
                    ) }}
                    {{ form_errors(form.probability) }}
                    {{ form_widget(
                        form.probability,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'label.probability'|trans
                        }
                    ) }}
                    {{ form_errors(form.cost) }}
                    {{ form_widget(
                        form.cost,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': ('label.cost'|trans ~ ' (' ~ form.vars.value|app_currency_symbol ~ ')')
                        }
                    ) }}
                    {{ form_errors(form.delay) }}
                    {{ form_widget(
                        form.delay,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'label.delay'|trans
                        }
                    ) }}
                    {{ form_errors(form.delayUnit) }}
                    {{ form_widget(
                        form.delayUnit,
                        {
                            'attr': {
                                'class': 'selectpicker',
                            },
                            'label': 'label.delay_unit'|trans
                        }
                    ) }}
                    {{ form_errors(form.priority) }}
                    {{ form_widget(
                        form.priority,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'label.priority'|trans
                        }
                    ) }}
                    {{ form_errors(form.riskStrategy) }}
                    {{ form_widget(
                        form.riskStrategy,
                        {
                            'attr': {
                                'class': 'selectpicker',
                            },
                            'label': 'label.strategy'|trans
                        }
                    ) }}
                    {{ form_errors(form.riskCategory) }}
                    {{ form_widget(
                        form.riskCategory,
                        {
                            'attr': {
                                'class': 'selectpicker',
                            },
                            'label': 'label.category'|trans
                        }
                    ) }}
                    {{ form_errors(form.responsibility) }}
                    {{ form_widget(
                        form.responsibility,
                        {
                            'attr': {
                                'class': 'selectpicker',
                            },
                            'label': 'label.responsible'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.dueDate,
                        {
                            'attr': {
                                'class': 'form-control date-picker',
                                'addon_front': 'calendar',
                            },
                            'label': 'label.due_date'|trans
                        }
                    ) }}
                    {{ form_errors(form.riskStatus) }}
                    {{ form_widget(
                        form.riskStatus,
                        {
                            'attr': {
                                'class': 'selectpicker',
                            },
                            'label': 'label.status'|trans
                        }
                    ) }}

                    {% include '@App/Admin/Layout/Partials/form_edit_buttons.html.twig'
                        with {
                            'delete_path': 'app_admin_risk_delete',
                            'id': id,
                        }
                    %}

                    <span class="hidden">{{ form_row(form._token) }}</span>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
