{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.risk.list'|trans }}<small>{{ risk.title }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_risk_create') }}">{{ 'add.risk'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_risk_edit', {'id': risk.id}) }}">{{ 'button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_risk_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body m-t-10 card-padding">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>{{ 'table_header_cell.id'|trans }}</th>
                                <td>{{ risk.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.title'|trans }}</th>
                                <td>{{ risk.title }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.impact'|trans }}</th>
                                <td>{{ risk.impact|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.cost'|trans }}</th>
                                <td>
                                    {% if risk.project %}
                                        {{ risk.cost|app_format_money(risk|app_currency_code) }}
                                    {% else %}
                                        {{ risk.cost|number_format(2) }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.budget'|trans }}</th>
                                <td>{{ risk.budget|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.delay'|trans }}</th>
                                <td>{{ risk.delay|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.priority'|trans }}</th>
                                <td>{{ risk.priority|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.strategy'|trans }}</th>
                                <td>{{ risk.riskStrategy.name|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.category'|trans }}</th>
                                <td>{{ risk.riskCategory.name|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.measure'|trans }}</th>
                                {% if risk.measures is not empty %}
                                    <td>
                                        {% for measure in risk.measures %}
                                            <p>{{ measure.title }} - {{  measure.cost }}</p>
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.due_date'|trans }}</th>
                                <td>{{ risk.dueDate|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.status'|trans }}</th>
                                <td>{{ risk.status.name|default('-') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
