{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'admin.user.list.title'|trans }}<small>{{ 'admin.user.list.subtitle'|trans }}</small></h2>
                    <a href="{{ path('app_admin_user_create') }}">
                        <button class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
                    </a>
                </div>
                <div class="card-body">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{ 'admin.user.list.table.id'|trans }}</th>
                                    <th>{{ 'admin.user.list.table.username'|trans }}</th>
                                    <th>{{ 'admin.user.list.table.email'|trans }}</th>
                                    <th>{{ 'admin.user.list.table.full_name'|trans }}</th>
                                    <th>{{ 'admin.user.list.table.enabled'|trans }}</th>
                                    <th>{{ 'admin.user.list.table.suspended'|trans }}</th>
                                    <th>{{ 'admin.user.list.table.roles'|trans }}</th>
                                    <th>{{ 'admin.user.list.table.actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in pagination.items %}
                                    <tr>
                                        <td class="f-500 c-cyan">{{ user.id }}</td>
                                        <td>@{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.fullName }}</td>
                                        <td>
                                            {% if user.isEnabled %}
                                                <span class="c-green">{{ 'admin.general.yes'|trans }}</span>
                                            {% else %}
                                                <span class="c-red">{{ 'admin.general.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user.isSuspended %}
                                                <span class="c-green">{{ 'admin.general.yes'|trans }}</span>
                                            {% else %}
                                                <span class="c-red">{{ 'admin.general.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% for role in user.roles %}
                                                {{ role }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% include '@App/Admin/Layout/Partials/form_list_buttons.html.twig'
                                                with {
                                                'show_path': 'app_admin_user_show',
                                                'edit_path': 'app_admin_user_edit',
                                                'delete_path': 'app_admin_user_delete',
                                                'id': user.id,
                                                }
                                            %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10", class="f-500 c-cyan">{{ 'admin.user.list.no-users'|trans }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <div align="center">
                            {{ knp_pagination_render(pagination, 'AppBundle:Default:pagination.html.twig') }}
                        </div>
                    </div>
                </div>
                <div id="recent-items-chart" class="flot-chart"></div>
            </div>
        </div>
    </div>
{% endblock %}
