{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'admin.user.list.title'|trans }}<small>{{ user.username }} - {{ user.email }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_user_create') }}">{{ 'admin.user.list.add'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">{{ 'admin.general.form.button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_user_list') }}">{{ 'admin.general.form.button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body m-t-10 card-padding">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>{{ 'admin.user.list.table.full_name'|trans }}</th>
                                <td>{{ user.fullName }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.user.list.table.username'|trans }}</th>
                                <td>@{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.user.list.table.email'|trans }}</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.user.list.table.phone'|trans }}</th>
                                <td>{{ user.phone|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.user.list.table.enabled'|trans }}</th>
                                <td>
                                    {% if user.isEnabled %}
                                        <span class="c-green">{{ 'admin.general.yes'|trans }}</span>
                                    {% else %}
                                        <span class="c-red">{{ 'admin.general.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.user.list.table.suspended'|trans }}</th>
                                <td>
                                    {% if user.isSuspended %}
                                        <span class="c-green">{{ 'admin.general.yes'|trans }}</span>
                                    {% else %}
                                        <span class="c-red">{{ 'admin.general.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.user.list.table.roles'|trans }}</th>
                                <td>
                                    {% for role in user.roles %}
                                        <p>{{ role }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
