{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2>{{ 'admin.color_status.list.title'|trans }}<small>{{ 'admin.color_status.list.subtitle'|trans }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_color_status_create') }}">{{ 'admin.color_status.list.add'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success m-t-15">
                            <strong>{{ flash_message }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'admin.color_status.list.table.id'|trans }}</th>
                                <th>{{ 'admin.color_status.list.table.name'|trans }}</th>
                                <th>{{ 'admin.color_status.list.table.color'|trans }}</th>
                                <th>{{ 'admin.project_category.list.table.sequence'|trans }}</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for color_status in color_statuses %}
                                <tr>
                                    <td class="f-500 c-cyan">{{ color_status.id }}</td>
                                    <td>{{ color_status.name }}</td>
                                    <td>{{ color_status.color }}</td>
                                    <td>{{ color_status.sequence }}</td>
                                    <td>
                                        {% include '@App/Admin/Layout/Partials/form_list_buttons.html.twig'
                                            with {
                                                'show_path': 'app_admin_color_status_show',
                                                'edit_path': 'app_admin_color_status_edit',
                                                'delete_path': 'app_admin_color_status_delete',
                                                'id': color_status.id,
                                            }
                                        %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="f-500 c-cyan">{{ 'admin.color_status.list.not_found'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
