{% trans_default_domain 'messages' %}

{% extends 'MainBundle::base.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <p class="text-primary">{{ 'title.team.list'|trans }}</p>
            </h1>
            <a href="{{ path('main_team_create') }}" class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed table-responsive">
                <thead>
                    <th>{{ 'table_header_cell.id'|trans }}</th>
                    <th>{{ 'table_header_cell.logo'|trans }}</th>
                    <th>{{ 'table_header_cell.name'|trans }}</th>
                    <th>{{ 'table_header_cell.slug'|trans }}</th>
                    <th>{{ 'table_header_cell.members'|trans }}</th>
                    <th>{{ 'table_header_cell.enabled'|trans }}</th>
                    <th>{{ 'placeholder.actions'|trans }}</th>
                </thead>
                <tbody>
                    {% for team in app.user.teams %}
                        <tr>
                            <td>{{ team.id }}</td>
                            <td class="col-xs-1 thumbnail">
                                <img src="{{ vich_uploader_asset(team, 'logoFile') }}" alt="{{ team.name }}">
                            </td>
                            <td>{{ team }}</td>
                            <td>{{ team.slug }}</td>
                            <td>{{ team.teamMembers.count }}</td>
                            <td>{{ team.enabled ? ('message.yes'|trans) : ('message.no'|trans) }}</td>
                            <td>
                                {% if team.enabled %}
                                    <a href="{{ path('main_team_sso', {'id': team.id}) }}" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-expand"></i>
                                        {{ 'button.login'|trans }}
                                    </a>
                                {% endif %}
                                <a href="{{ path('main_team_show', {'id': team.id}) }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>
                                <a href="{{ path('main_team_edit', {'id': team.id}) }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a href="{{ path('main_team_delete', {'id': team.id}) }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
