{% trans_default_domain 'messages' %}

<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}{{ 'title.homepage'|trans({}, 'messages') }}{% endblock %}</title>
        {% block stylesheets %}
            <!-- Vendor CSS -->
            <link href="{{ asset('assets/admin/vendors/bower_components/animate.css/animate.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/sweetalert/dist/sweetalert.css') }}" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css') }}" rel="stylesheet">
            <!-- App CSS -->
            <link href="{{ asset('assets/admin/css/app.css')}}" rel="stylesheet">
        {% endblock %}
        {% block icon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}

        {{ piwik_tracking() }}
    </head>
    <body {% block body_attributes %}{% endblock %}>
    {% block body %}
        {% include 'AppBundle:Admin/Layout:header.html.twig' %}

        <section id="main">
            {% include 'AppBundle:Admin/Layout:sidebar.html.twig' %}

            <section id="content">
                {% block body_content %}{% endblock %}
            </section>
        </section>

        {% include 'AppBundle:Admin/Layout:footer.html.twig' %}
    {% endblock %}

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="preloader pls-blue">
            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20" />
            </svg>

            <p>{{ 'message.wait'|trans }}</p>
        </div>
    </div>

    {% include 'AppBundle:Admin/Layout:older_ie_version.html.twig' %}

    {% block javascripts %}
        <!-- Javascript Libraries -->
        <script src="{{ asset('assets/admin/vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/js/jquery-migrate-3.0.0.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bower_components/bootstrap-3/dist/js/bootstrap.min.js') }}"></script>

        <script src="{{ asset('assets/admin/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bower_components/Waves/dist/waves.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bootstrap-growl/bootstrap-growl.min.js') }}"></script>
        <script src="{{ asset('assets/admin/vendors/bower_components/sweetalert/dist/sweetalert.min.js') }}"></script>

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="{{ asset('assets/admin/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js') }}"></script>
        <![endif]-->

        <script src="{{ asset('assets/admin/js/app.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
