{%- block form_widget_simple -%}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">
            {% if label is not none %}
                {{ label }}
            {% else %}
                {{ 'admin.general.form.label'|trans({}, 'admin') }}
            {% endif %}
            {% if required %}
                <span class="c-red">*</span>
            {% endif %}
        </label>
        <div class="col-sm-10">
            <div class="fg-line">
                {%- set type = type|default('text') -%}
                <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            </div>
        </div>
    </div>
{%- endblock form_widget_simple -%}

{%- block choice_widget_collapsed -%}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="{{ name }}">
            {% if label is not none %}
                {{ label }}
            {% else %}
                {{ 'admin.general.form.label'|trans({}, 'admin') }}
            {% endif %}
        </label>
        <div class="col-sm-10">
            <div class="select fg-line">
                {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
                    {% set required = false %}
                {%- endif -%}
                <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                    {%- if placeholder is not none -%}
                        <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
                    {%- endif -%}
                    {%- if preferred_choices|length > 0 -%}
                        {% set options = preferred_choices %}
                        {{- block('choice_widget_options') -}}
                        {%- if choices|length > 0 and separator is not none -%}
                            <option disabled="disabled">{{ separator }}</option>
                        {%- endif -%}
                    {%- endif -%}
                    {%- set options = choices -%}
                    {{- block('choice_widget_options') -}}
                </select>
            </div>
        </div>
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block checkbox_widget -%}
    <label class="checkbox checkbox-inline m-r-15">
        <label for="{{ name }}">
            {% if label is not none %}
                {{ label }}
            {% else %}
                {{ 'admin.general.form.label'|trans({}, 'admin') }}
            {% endif %}
        </label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <i class="input-helper"></i>
    </label>
{%- endblock checkbox_widget -%}

{%- block textarea_widget -%}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">
            {% if label is not none %}
                {{ label }}
            {% else %}
                {{ 'admin.general.form.label'|trans({}, 'admin') }}
            {% endif %}
            {% if required %}
                <span class="c-red">*</span>
            {% endif %}
        </label>
        <div class="col-sm-10">
            <div class="fg-line">
                <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
            </div>
        </div>
    </div>
{%- endblock textarea_widget -%}
