{% extends 'MainBundle:Email:base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block subject %}
    Change of task role.
{% endblock %}

{% block message %}
    SUBJECT: Change of task role.
    <p>Hello {{ username }}.</p>
    <p> Your role for the {{ task }} was changed from {{ old_responsibility }} to {{ responsibility }}</p>
    <p> Workspace: {{ workspace }}</p>
    <p> Project: {{ project }}</p>
{% endblock %}
