{% extends 'MainBundle:Email:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block subject %}{{ 'email.subject.contact'|trans }}{% endblock %}

{% block message %}
    <p><b>{{ 'email.from.contact.full_name'|trans }}</b> {{ fullName }}</p>
    <p><b>{{ 'email.from.contact.email'|trans }}:</b> {{ email }}</p>
    <p><b>{{ 'email.message.contact'|trans }}:</b> {{ message }}</p>
{% endblock %}
