{% extends 'MainBundle:Email:base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block message %}
    <h2>Set responsibility</h2>
    <p>Hello {{ username }}.</p>
    <p> Your role for {{ task }} is  {{ responsibility }}</p>
    <p> Workspace: {{ workspace }}</p>
    <p> Project: {{ project }}</p>
{% endblock %}
