{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'admin.document.list.title'|trans }}<small>{{ document.fileName }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_document_create') }}">{{ 'admin.document.list.add'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_document_edit', {'id': document.id}) }}">{{ 'admin.general.form.button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_document_list') }}">{{ 'admin.general.form.button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>{{ 'admin.document.list.table.id'|trans }}</th>
                                    <td>{{ document.id }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'admin.document.list.table.project'|trans }}</th>
                                    <td>{{ document.project.name|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'admin.document.list.table.file'|trans }}</th>
                                    <td>{{ document.fileName }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'admin.document.list.table.meetings'|trans }}</th>
                                    <td>
                                        {% for meeting in document.meetings %}
                                            <p>{{ meeting.name }}</p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
