{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body_content %}
    <div class="card">
        <div class="card-header bgm-teal">
            <h2>{{ 'admin.timephase.list.title'|trans }}<small>{{ 'admin.timephase.list.subtitle'|trans }}</small></h2>
            <a href="{{ path('app_admin_timephase_create') }}">
                <button class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
            </a>
        </div>
        <div class="card-body">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div id="general-alert" class="alert alert-success m-t-15">
                    <strong>{{ flash_message }}</strong>
                </div>
            {% endfor %}
            <div id="delete-item-alert" class="alert alert-success m-t-15 hidden">
                <strong>
                    {{ 'admin.timephase.delete.success.first'|trans }}
                    <span id="object-id">
                        {% for flash_message in app.session.flashBag.get('success') %}
                            {{ flash_message }}
                        {% endfor %}
                    </span>
                    {{ 'admin.timephase.delete.success.second'|trans }}
                </strong>
            </div>
            <div class="table-responsive">
                <table
                        id="data-table-command"
                        class="table table-condensed table-striped table-vmiddle"
                        data-url="{{ path('app_admin_timephase_list_filtered') }}"
                        data-show="app_admin_timephase_show"
                        data-edit="app_admin_timephase_edit"
                        data-delete="app_admin_timephase_delete">
                    <thead>
                    <tr>
                        <th data-column-id="id" data-identifier="true" data-type="numeric">{{ 'admin.timephase.list.table.id'|trans }}</th>
                        <th data-column-id="type">{{ 'admin.timephase.list.table.type'|trans }}</th>
                        <th data-column-id="assignmentName">{{ 'admin.timephase.list.table.workpackage_assignment'|trans }}</th>
                        <th data-column-id="unit">{{ 'admin.timephase.list.table.unit'|trans }}</th>
                        <th data-column-id="value">{{ 'admin.timephase.list.table.value'|trans }}</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false">{{ 'admin.general.placeholder.actions'|trans }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Data Table -->
    <script src="{{ asset('bundles/app/assets/js/data_table.js') }}"></script>
    <script src="{{ asset('bundles/app/assets/js/alert_messages.js') }}"></script>
{% endblock %}
