{% trans_default_domain 'messages' %}

{% form_theme form 'AppBundle:Admin/Layout/Partials:form_fields.html.twig' %}

{{ form_start(
    form,
    {
        'method': 'POST',
        'action': path('app_admin_workpackage_create'),
        'attr': {
            'id': 'create-form',
            'class': 'form-horizontal',
            'novalidate': 'novalidate',
        },
}
) }}

{{ form_widget(
    form.name,
    {
        'attr': {
            'class': 'form-control input-sm',
        },
        'label': 'label.name'|trans
    }
) }}
{{ form_errors(form.name) }}
{{ form_widget(
    form.type,
    {
        'attr': {
            'class': 'selectpicker',
        },
        'label': 'label.type'|trans
    }
) }}
{{ form_errors(form.type) }}
{{ form_widget(
    form.workPackageStatus,
    {
        'attr': {
            'class': 'selectpicker',
        },
        'label': 'label.status'|trans
    }
) }}
{{ form_widget(
    form.progress,
    {
        'attr': {
            'class': 'form-control input-sm',
        },
        'label': 'label.progress'|trans,
    }
) }}
{{ form_errors(form.progress) }}
{{ form_widget(
    form.duration,
    {
        'attr': {
            'class': 'form-control input-sm',
        },
        'label': 'label.duration'|trans,
    }
) }}
{{ form_errors(form.duration) }}
{{ form_widget(
    form.phase,
    {
        'attr': {
        'class': 'selectpicker',
    },
        'label': 'label.phase'|trans
    }
) }}
{{ form_errors(form.phase) }}
{{ form_widget(
    form.milestone,
    {
        'attr': {
        'class': 'selectpicker',
    },
        'label': 'label.milestone'|trans
    }
) }}
{{ form_errors(form.milestone) }}
{{ form_widget(
    form.parent,
    {
        'attr': {
            'class': 'selectpicker',
        },
        'label': 'label.parent'|trans
    }
) }}
{{ form_errors(form.parent) }}
{{ form_widget(
    form.workPackageCategory,
    {
        'attr': {
            'class': 'selectpicker',
        },
        'label': 'label.workpackage_category'|trans
    }
) }}
{{ form_errors(form.workPackageCategory) }}
{{ form_widget(
    form.colorStatus,
    {
        'attr': {
            'class': 'selectpicker',
        },
        'label': 'label.color'|trans
    }
) }}
{{ form_errors(form.colorStatus) }}
{{ form_widget(
    form.responsibility,
    {
        'attr': {
            'class': 'selectpicker',
        },
        'label': 'label.responsible'|trans
    }
) }}
{{ form_errors(form.responsibility) }}
{{ form_widget(
    form.project,
    {
        'attr': {
            'class': 'selectpicker',
        },
        'label': 'label.project'|trans
    }
) }}
{{ form_errors(form.project) }}
{{ form_widget(
    form.dependencies,
    {
        'attr': {
            'class': 'selectpicker',
            'multiple': '',
        },
        'label': 'label.dependencies'|trans,
    }
) }}
{{ form_errors(form.dependencies) }}
{{ form_widget(
    form.labels,
    {
        'attr': {
            'class': 'selectpicker',
            'multiple': '',
        },
        'label': 'label.labels'|trans,
    }
) }}
{{ form_errors(form.labels) }}
{{ form_widget(
    form.calendar,
    {
        'attr': {
            'class': 'selectpicker',
        },
        'label': 'label.calendar'|trans
    }
) }}
{{ form_errors(form.calendar) }}
{{ form_widget(
    form.scheduledStartAt,
    {
        'attr': {
            'class': 'form-control date-picker',
            'addon_front': 'calendar',
        },
        'label': 'label.schedule_start'|trans
    }
) }}
{{ form_errors(form.scheduledStartAt) }}
{{ form_widget(
    form.scheduledFinishAt,
    {
        'attr': {
            'class': 'form-control date-picker',
            'addon_front': 'calendar',
        },
        'label': 'label.schedule_finish'|trans
}
) }}
{{ form_errors(form.scheduledFinishAt) }}
{{ form_widget(
    form.forecastStartAt,
    {
        'attr': {
            'class': 'form-control date-picker',
            'addon_front': 'calendar',
        },
        'label': 'label.forecast_start'|trans
    }
) }}
{{ form_errors(form.forecastStartAt) }}
{{ form_widget(
    form.forecastFinishAt,
    {
        'attr': {
            'class': 'form-control date-picker',
            'addon_front': 'calendar',
        },
        'label': 'label.forecast_finish'|trans
}
) }}
{{ form_errors(form.forecastFinishAt) }}
{{ form_widget(
    form.actualStartAt,
    {
        'attr': {
            'class': 'form-control date-picker',
            'addon_front': 'calendar',
        },
        'label': 'label.actual_start'|trans
    }
) }}
{{ form_errors(form.actualStartAt) }}
{{ form_widget(
    form.actualFinishAt,
    {
        'attr': {
            'class': 'form-control date-picker',
            'addon_front': 'calendar',
        },
        'label': 'label.actual_finish'|trans
    }
) }}
{{ form_errors(form.actualFinishAt) }}
{{ form_widget(
    form.content,
    {
        'attr': {
            'class': 'form-control',
        },
        'label': 'label.content'|trans
    }
) }}
{{ form_errors(form.content) }}
{{ form_widget(
    form.results,
    {
        'attr': {
            'class': 'form-control',
        },
        'label': 'label.results'|trans
    }
) }}
{{ form_errors(form.results) }}
{{ form_widget(
form.isKeyMilestone,
    {
        'attr': {
            'class': 'form-control input-sm',
            'toggle': true
        },
    'label': 'label.is_key_milestone'|trans
}
) }}
{{ form_errors(form.isKeyMilestone) }}

{% include '@App/Admin/Layout/Partials/form_create_button.html.twig' %}

<span class="hidden">{{ form_row(form._token) }}</span>
{{ form_end(form, {'render_rest': false}) }}
