<!doctype html>
<html>
<head>
    <title>{{ 'label.project_close_down'|trans }} - {{ projectCloseDown.projectName }} : {{ projectCloseDown.createdAt|date('d-m-Y') }}</title>
    <style type="text/css">
        tr {
            vertical-align: top;
        }
        ul, dl {
            margin: 0 5px;
        }

        body {
            background-color: #232D4B;
            font-family: 'Poppins', sans-serif;
            color: #D8DAE5;
            padding: 0px;
            margin:0px;
            min-height: 1407px;
        }
        .text-center {
            text-align: center;
        }

        .hero-text {
            font-size: 3em;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: 30px;
        }

        h1 {
            font-weight: 300;
            letter-spacing: 2.2px;
            text-transform: uppercase;
            font-size: 20px;
        }
        tr {
            vertical-align: top;
        }

        .alternate-color:nth-of-type(even) {
            background-color: #1E2643;
        }
        dt {
            padding: 15px 5px;
        }
        ul, dl {
            margin: 0 5px;
        }
        .double-line {
            display: block;
            -webkit-margin-before: 0.5em;
            -webkit-margin-after: 0.5em;
            -webkit-margin-start: auto;
            -webkit-margin-end: auto;
            border-top: 4px double;
            border-color: #111526;
            margin: 40px 0;
            box-sizing: content-box;
            height: 0px;
        }
    </style>
    <link href="{{ asset('assets/admin/css/custom.css') }}" rel="stylesheet">
</head>
<body>
<table>
    <tr>
        <th colspan="2">
            <h1 class="text-center">{{ projectCloseDown.projectName }}: {{ projectCloseDown.createdAt|date('d-m-Y') }}</h1>
        </th>
    </tr>
    <tr>
        <td colspan="2"><br></td>
    </tr>
    <tr>
        <th>{{ 'message.category'|trans }}</th>
        <td>{{ projectCloseDown.project.projectCategory|default('-') }}</td>
    </tr>
    <tr>
        <th>{{ 'message.scope'|trans }}</th>
        <td>{{ projectCloseDown.project.projectScope|default('-') }}</td>
    </tr>
    <tr>
        <th style="width: 33%;">{{ 'message.overall_impression'|trans }}</th>
        <td>{{ projectCloseDown.overallImpression|raw }}</td>
    </tr>
    <tr>
        <th>{{ 'message.reflection'|trans }}: {{ 'message.performance_schedule'|trans }}</th>
        <td>{{ projectCloseDown.performanceSchedule|raw }}</td>
    </tr>
    <tr>
        <th>{{ 'message.reflection'|trans }}: {{ 'message.organization_context'|trans }}</th>
        <td>{{ projectCloseDown.organizationContext|raw }}</td>
    </tr>
    <tr>
        <th>{{ 'message.reflection'|trans }}: {{ 'message.project_management'|trans }}</th>
        <td>{{ projectCloseDown.projectManagement|raw }}</td>
    </tr>
    <tr>
        <td></td>
        <td> <hr class="double-line"> </td>
    </tr>
    <tr>
        <th>{{ 'message.evaluation_objectives'|trans }}:</th>
        <td>
            <dl>
                {% for evalaution in projectCloseDown.evaluationObjectives %}
                    <dt class="alternate-color">{{ evalaution.title }}</dt>
                {% endfor %}
            </dl>
        </td>
    </tr>
    <tr>
        <td></td>
        <td> <hr class="double-line"> </td>
    </tr>
    <tr>
        <th>{{ 'message.lessons_learned'|trans }}:</th>
        <td>
            <dl>
                {% for lesson in projectCloseDown.lessons %}
                    <dt class="alternate-color">{{ lesson.title }}</dt>
                {% endfor %}
            </dl>
        </td>
    </tr>
    <tr>
        <td></td>
        <td> <hr class="double-line"> </td>
    </tr>
    <tr>
        <th>{{ 'message.remaining_action'|trans }}:</th>
        <td>
            <table>
                <thead>
                <tr>
                    <th>{{ 'table_header_cell.due_date'|trans }}</th>
                    <th>{{ 'table_header_cell.topic'|trans }}</th>
                    <th style="width: 25%;">{{ 'table_header_cell.description'|trans }}</th>
                    <th>{{ 'table_header_cell.responsible'|trans }}</th>
                </tr>
                <tbody>
                    {% for action in projectCloseDown.closeDownActions %}
                        <tr class="alternate-color">
                            <td>{{ action.dueDate|date('d-m-Y') }}</td>
                            <td>{{ action.title }}</td>
                            <td>{{ action.description|raw }}</td>
                            <td>{{ action.responsibilityFullName }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <th>{{ 'message.project_sponsor'|trans }}:</th>
        <td>
        {% for user in projectCloseDown.project.projectSponsors %}
            {% if loop.index > 1 %}, {% endif %}
            {{  user.fullName}}
        {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{{ 'message.project_managers'|trans }}:</th>
        <td>
            {% for user in projectCloseDown.project.projectManagers %}
                {% if loop.index > 1 %}, {% endif %}
                {{  user.fullName}}
            {% endfor %}
        </td>
    </tr>
</table>
</body>
</html>
