<!doctype html>
<html>
    <head>
        <title>{{ 'message.contract'|trans }} - {{ contract.project }}</title>
        <style type="text/css">
            tr {
                vertical-align: top;
            }
            ul, dl {
                margin: 0 5px;
            }

            body {
                background-color: #232D4B;
                font-family: 'Poppins', sans-serif;
                color: #D8DAE5;
                padding: 0px;
                margin:0px;
                min-height: 1407px;
            }
            .text-center {
                text-align: center;
            }

            .hero-text {
                font-size: 3em;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                margin-bottom: 30px;
            }

            h1 {
                font-weight: 300;
                letter-spacing: 2.2px;
                text-transform: uppercase;
                font-size: 20px;
            }
            tr {
                vertical-align: top;
            }

            .alternate-color:nth-of-type(even) {
                background-color: #1E2643;
            }

            dt {
                padding: 15px 5px;
            }
            ul, dl {
                margin: 0 5px;
            }
            hr {
                border-color: #111526;
            }
            .double-line {
                display: block;
                -webkit-margin-before: 0.5em;
                -webkit-margin-after: 0.5em;
                -webkit-margin-start: auto;
                -webkit-margin-end: auto;
                border-top: 4px double;
                border-color: #111526;
                margin: 40px 0;
                box-sizing: content-box;
                height: 0px;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th colspan="2"><h1 class="text-center">{{ contract.name }}</h1></th>
            </tr>
            <tr>
                <td colspan="2"><br></td>
            </tr>
            <tr>
                <th>{{ 'message.project_name'|trans }}:</th>
                <td>{{ contract.project.name }}</td>
            </tr>
            <tr>
                <th>{{ 'message.project_number'|trans }}:</th>
                <td>{{ contract.project.number|default('-') }}</td>
            </tr>
            <tr>
                <th>{{ 'label.portfolio'|trans }}:</th>
                <td>{{ contract.project.portofolio|default('-') }}</td>
            </tr>
            <tr>
                <th>{{ 'label.programme'|trans }}:</th>
                <td>{{ contract.project.programme|default('-') }}</td>
            </tr>
            <tr>
                <th>{{ 'label.category'|trans }}:</th>
                <td>{{ contract.project.projectCategory|default('-') }}</td>
            </tr>
            <tr>
                <th>{{ 'message.scope'|trans }}:</th>
                <td>{{ contract.project.projectScope|default('-') }}</td>
            </tr>
            <tr>
                <th>{{ 'message.customer'|trans }}:</th>
                <td>{{ contract.project.customer|default('-') }}</td>
            </tr>
            <tr>
                <th>{{ 'label.description'|trans }}:</th>
                <td>{{ contract.description|default('-')|raw }}</td>
            </tr>
            <tr>
                <th>{{ 'message.project_start_event'|trans }}:</th>
                <td>{{ contract.projectStartEvent|default('-')|raw }}</td>
            </tr>
            <tr>
                <th>{{ 'label.proposed_start_date'|trans }}:</th>
                <td>{{ contract.proposedStartDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'label.proposed_end_date'|trans }}:</th>
                <td>{{ contract.proposedEndDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'label.forecast_start_date'|trans }}:</th>
                <td>{{ contract.forecastStartDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'label.forecast_end_date'|trans }}:</th>
                <td>{{ contract.forecastEndDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'message.project_limitations'|trans }}:</th>
                <td>
                    <ul>
                        {% for limitation in contract.project.projectLimitations %}
                            <li >{{ limitation.description|raw }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>{{ 'message.objectives'|trans }}:</th>
                <td>
                    <dl>
                        {% for objective in contract.project.projectObjectives %}
                            <dt class="alternate-color">{{ objective.title|raw }}</dt>
                        {% endfor %}
                    </dl>
                </td>
            </tr>
            <tr>
                <th>{{ 'message.project_deliverables'|trans }}:</th>
                <td>
                    <ul>
                        {% for deliverable in contract.project.projectDeliverables %}
                            <li>{{ deliverable.description|raw }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>
