{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.meeting.list'|trans }}<small>{{ meeting.name|default('-') }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_meeting_create') }}">{{ 'add.meeting'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_meeting_edit', {'id': meeting.id}) }}">{{ 'button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_meeting_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>{{ 'table_header_cell.id'|trans }}</th>
                                <td>{{ meeting.id }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.name'|trans }}</th>
                                <td>{{ meeting.name|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.project'|trans }}</th>
                                <td>{{ meeting.project.name|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.location'|trans }}</th>
                                <td>{{ meeting.location|default('-') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.date'|trans }}</th>
                                <td>{{ meeting.date|date('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.start'|trans }}</th>
                                <td>{{ meeting.start|date('H:i') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.end'|trans }}</th>
                                <td>{{ meeting.end|date('H:i') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.objectives'|trans }}</th>
                                <td>
                                    {% for objective in meeting.meetingObjectives %}
                                        <p>{{ objective.description|default('-') }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.participants'|trans }}</th>
                                <td>
                                    {% for participant in meeting.meetingParticipants %}
                                        {{ participant.user.username|default('-') }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.agendas'|trans }}</th>
                                <td>
                                    {% if meeting.meetingAgendas|length %}
                                        {% for agendas in meeting.meetingAgendas %}
                                            <p>{{ agendas.topic }}</p>
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.decisions'|trans }}</th>
                                <td>
                                    {% if meeting.decisions|length %}
                                        {% for decision in meeting.decisions %}
                                            <p>{{ decision.title }}</p>
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.todos'|trans }}</th>
                                <td>
                                    {% if meeting.todos|length %}
                                        {% for todo in meeting.todos %}
                                            <p>{{ todo.title }}</p>
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.infos'|trans }}</th>
                                <td>
                                    {% if meeting.infos|length %}
                                        {% for note in meeting.infos %}
                                            <p>{{ participant.topic|default('-') }}</p>
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.medias'|trans }}</th>
                                <td>
                                    {% if meeting.medias|length %}
                                        {% for media in meeting.medias %}
                                            <p>{{ media.path|default('-') }}</p>
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
