{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% form_theme form 'AppBundle:Admin/Layout/Partials:form_fields.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.contract.create'|trans }}</h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_contract_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body card-padding">
                    {{ form_start(
                        form,
                        {
                            'method': 'POST',
                            'action': path('app_admin_contract_create'),
                            'attr': {
                                'id': 'create-form',
                                'class': 'form-horizontal',
                                'novalidate': 'novalidate',
                            },
                        }
                    ) }}
                        {% if form.vars.valid == false %}
                            <div class="alert alert-danger">
                                {% for field in form.children %}
                                    {{ form_errors(field) }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form_widget(
                            form.name,
                            {
                                'attr': {
                                    'class': 'form-control input-sm',
                                },
                                'label': 'label.name'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.project,
                            {
                                'attr': {
                                    'class': 'selectpicker',
                                },
                                'label': 'label.project'|trans,
                            }
                        ) }}
                        {{ form_widget(
                            form.description,
                            {
                                'attr': {
                                    'class': 'form-control input-sm',
                                },
                                'label': 'label.description'|trans
                            }
                        ) }}
                        {{ form_widget(
                            form.projectStartEvent,
                            {
                                'attr': {
                                    'class': 'form-control input-sm',
                                },
                                'label': 'label.project_start_event'|trans
                            }
                        ) }}
                        {{ form_widget(
                            form.proposedStartDate,
                            {
                                'attr': {
                                    'class': 'form-control date-picker',
                                    'addon_front': 'calendar',
                                },
                                'label': 'label.proposed_start_date'|trans
                            }
                        ) }}
                        {{ form_widget(
                            form.proposedEndDate,
                            {
                                'attr': {
                                    'class': 'form-control date-picker',
                                    'addon_front': 'calendar',
                                },
                                'label': 'label.proposed_end_date'|trans
                            }
                        ) }}
                        {{ form_widget(
                            form.forecastStartDate,
                            {
                                'attr': {
                                    'class': 'form-control date-picker',
                                    'addon_front': 'calendar',
                                },
                                'label': 'label.forecast_start_date'|trans
                            }
                        ) }}
                        {{ form_widget(
                            form.forecastEndDate,
                            {
                                'attr': {
                                    'class': 'form-control date-picker',
                                    'addon_front': 'calendar',
                                },
                                'label': 'label.forecast_end_date'|trans
                            }
                        ) }}
                        {{ form_widget(
                            form.frozen,
                            {
                                'attr': {
                                    'class': 'form-control input-sm',
                                    'toggle': true
                                },
                                'label': 'label.frozen'|trans
                            }
                        ) }}
                        {{ form_widget(
                            form.approvedAt,
                            {
                                'attr': {
                                    'class': 'form-control date-picker',
                                    'addon_front': 'calendar',
                                },
                                'label': 'label.forecast_end_date'|trans
                            }
                        ) }}

                        {% include '@App/Admin/Layout/Partials/form_create_button.html.twig' %}

                        <span class="hidden">{{ form_row(form._token) }}</span>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include '@App/Admin/Contract/_clear_approved_at.html.twig' with {form: form} %}
{% endblock %}
