{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">>
                    <h2>{{ 'title.project_user.list'|trans }}
                        {% if project_user.user %}
                            <small>{{ project_user.user.username }}</small>
                        {% endif %}
                    </h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_project_user_create') }}">{{ 'add.project_user'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_project_user_edit', {'id': project_user.id}) }}">{{ 'button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_project_user_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>{{ 'table_header_cell.user'|trans }}</th>
                                    <td>
                                        {% if project_user.user %}
                                            {{ project_user.user.username }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.project'|trans }}</th>
                                    <td>
                                        {% if project_user.project %}
                                            {{ project_user.project.name }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.project_role'|trans }}</th>
                                    <td>
                                        {% if project_user.projectRoles %}
                                            {% for projectRole in project_user.projectRoles %}
                                                {{ projectRole.name }}
                                            {% endfor %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.project_department'|trans }}</th>
                                    <td>
                                        {% if project_user.projectDepartments %}
                                            {% for projectDepartment in project_user.projectDepartments %}
                                                {{ projectDepartment.name }}
                                            {% endfor %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.project_team'|trans }}</th>
                                    <td>
                                        {% if project_user.projectTeam %}
                                            {{ project_user.projectTeam.name }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.show_in_resources'|trans }}</th>
                                    <td>
                                        {% if project_user.showInResources %}
                                            {{ 'checkbox.checked'|trans }}
                                        {% else %}
                                            {{ 'checkbox.unchecked'|trans }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.show_in_rasci'|trans }}</th>
                                    <td>
                                        {% if project_user.showInRasci %}
                                            {{ 'checkbox.checked'|trans }}
                                        {% else %}
                                            {{ 'checkbox.unchecked'|trans }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.show_in_org'|trans }}</th>
                                    <td>
                                        {% if project_user.showInOrg %}
                                            {{ 'checkbox.checked'|trans }}
                                        {% else %}
                                            {{ 'checkbox.unchecked'|trans }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.created_at'|trans }}</th>
                                    <td>
                                        {% if project_user.createdAt %}
                                            {{ project_user.createdAt|date('d/m/Y') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.updated_at'|trans }}</th>
                                    <td>
                                        {% if project_user.updatedAt %}
                                            {{ project_user.updatedAt|date('d/m/Y') }}
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
