{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.subteam_role.list'|trans }}<small>{{ subteamRole.name }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_subteam_role_create') }}">{{ 'add.subteam_role'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_subteam_role_edit', {'id': subteamRole.id}) }}">{{ 'button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_subteam_role_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>{{ 'table_header_cell.name'|trans }}</th>
                                <td>{{ subteamRole.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.description'|trans }}</th>
                                <td>{{ subteamRole.description }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'table_header_cell.subteam_members'|trans }}</th>
                                <td>
                                    <ul>
                                        {% for subteamMember in subteamRole.subteamMembers %}
                                            <li>{{ subteamMember.username }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
