{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% form_theme form 'AppBundle:Admin/Layout/Partials:form_fields.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.timephase.edit'|trans }}</h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_timephase_create') }}">{{ 'add.timephase'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_timephase_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body m-t-0 card-padding">
                    {{ form_start(
                        form,
                        {
                            'method': 'POST',
                            'action': path('app_admin_timephase_edit', {'id': id}),
                            'attr': {
                                'id': 'edit-form',
                                'class': 'form-horizontal',
                                'novalidate': 'novalidate',
                            },
                        }
                    ) }}
                    {% if form.vars.valid == false %}
                        <div class="alert alert-danger">
                            {% for field in form.children %}
                                {{ form_errors(field) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ form_widget(
                        form.type,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'label.type'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.assignment,
                        {
                            'attr': {
                                'class': 'selectpicker',
                            },
                            'label': 'label.assignment'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.unit,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'label.unit'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.value,
                        {
                            'attr': {
                                'class': 'form-control input-sm',
                            },
                            'label': 'label.value'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.startedAt,
                        {
                            'attr': {
                                'class': 'form-control date-picker',
                                'addon_front': 'calendar',
                            },
                            'label': 'label.started_at'|trans
                        }
                    ) }}
                    {{ form_widget(
                        form.finishedAt,
                        {
                            'attr': {
                                'class': 'form-control date-picker',
                                'addon_front': 'calendar',
                            },
                            'label': 'label.finished_at'|trans
                        }
                    ) }}

                    {% include '@App/Admin/Layout/Partials/form_edit_buttons.html.twig'
                        with {
                            'delete_path': 'app_admin_timephase_delete',
                            'id': id,
                        }
                    %}

                    <span class="hidden">{{ form_row(form._token) }}</span>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
