{% extends 'AppBundle:Admin:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="card">
                <div class="card-header bgm-teal">
                    <h2>{{ 'title.project_scope.list'|trans }}<small>{{ project_scope.name }}</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert c-white"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ path('app_admin_project_scope_create') }}">{{ 'add.project_scope'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_project_scope_edit', {'id': project_scope.id}) }}">{{ 'button.edit'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_admin_project_scope_list') }}">{{ 'button.back_to_list'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>{{ 'table_header_cell.name'|trans }}</th>
                                    <td>{{ project_scope.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.project'|trans }}</th>
                                    <td>
                                        {% if project_scope.project %}
                                            {{ project_scope.project.name }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.sequence'|trans }}</th>
                                    <td>{{ project_scope.sequence }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.created_at'|trans }}</th>
                                    <td>
                                        {% if project_scope.createdAt %}
                                            {{ project_scope.createdAt|date('d/m/Y') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'table_header_cell.updated_at'|trans }}</th>
                                    <td>
                                        {% if project_scope.updatedAt %}
                                            {{ project_scope.updatedAt|date('d/m/Y') }}
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
