{% extends 'MainBundle:Email:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block subject %}{{ 'email.subject.contact'|trans }} - {{ subject }}{% endblock %}

{% block message %}
    <p>{{ 'email.from.contact'|trans }}: {{ fullName }}</p>
    <p>{{ 'email.subject.general'|trans }}: {{ subject }}</p>
    <p>{{ 'email.message.contact'|trans }}: {{ message }}</p>
{% endblock %}
