{% extends 'MainBundle:Email:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block subject %}
    {{ 'email.subject.user.activation'|trans }}
{% endblock %}

{% block message %}
    <p>{{'email.general.hello'|trans }} {{ fullName }},
    <p>{{ 'email.message.user.activation'|trans }} <a href="{{ url('main_user_activate', {'token': token}) }}">{{ 'email.general.link'|trans }}</a></p>
    <p>{{ 'email.expiration.user.activation'|transchoice(expirationTime, {'%expirationTime%': expirationTime}) }}</p>
{% endblock %}
