{% extends 'MainBundle:Email:base.html.twig' %}

{% block subject %}
    {{ 'user.reset.subject'|trans }}
{% endblock %}

{% block message %}
    <p>{{'general.hello'|trans }} {{ full_name }},
    <p>{{ 'user.reset.message'|trans }} <a href="{{ url('main_user_reset_password', {'token': token}) }}">{{ 'user.reset.link'|trans }}</a></p>
    <p>{{ 'user.reset.expiration'|transchoice(expiration_time, {'%expiration_time%': expiration_time}) }}</p>
{% endblock %}
