{% extends 'MainBundle:Email:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block subject %}
    {{ 'email.subject.user.reset'|trans }}
{% endblock %}

{% block message %}
    <p>{{'email.general.hello'|trans }} {{ full_name }},
    <p>{{ 'email.message.user.reset'|trans }} <a href="{{ url('main_user_reset_password', {'token': token}) }}">{{ 'email.general.link'|trans }}</a></p>
    <p>{{ 'email.expiration.user.reset'|transchoice(expiration_time, {'%expiration_time%': expiration_time}) }}</p>
{% endblock %}
